#blog-posts {
	padding-top: 50px;
}

#publication-tabs {
	text-align: center;
}

#publication-tabs .row {
	margin: 0;
}

#publication-tabs li {
	display: inline-block;
	padding: 10px 0;
}

#publication-tabs .active {
	transition: background-color 0.3s ease;
	background-color: #111;
	border-radius: 3px 3px 0 0;
}

#publication-tabs .active a {
	color: #7fa52b;
}

#publication-tabs li a {
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.02em;
	font-weight: 600;
	color: #111;
}

#publication-tabs li a:hover {
	transition: color 0.3s ease;
	color: #7fa52b;
}

#publication-tabs .bottom-separator {
	background-color: #111;
	height: 2px;
}

.tab-area {
	padding: 40px;
}

.tab-area .youtube-embed iframe {
	height: 300px;
	width: 100%;
}

.video {
	text-align: center;
	padding-bottom: 30px;
}

.video .title {
	font-size: 1.6em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.video .speakers {
	color: #7fa52b;
	padding-bottom: 12px;
}

.post-area {
	width: 100%;
	min-height: 150px;
	background-color: white;
	border-bottom: 1px dotted #ddd;
	padding: 40px;
}

.post-area .title {
	text-align: left;
}

.post-area a:link, .post-area a:visited {
	font-size: 30px;
	color: #333;
}

.post-area a:hover {
	color: #0D0017;
}

.post-area .small-image {
	width: 100%;
	height: 180px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.post .content {
	padding: 20px 140px;
	font-size: 15px;
}

.post h2 {
	padding-top: 35px;
	line-height: 27px;
	margin: 0;
}

.post-categories a {
	font-size: 11px;
}

.post-categories p {
	font-size: 11px;
}

.post .content p {
	color: #111;
  	padding-top: 10px;
	text-align: justify;
}

.post .content img {
	width: 100%;
	padding: 20px;
}

.post .content figcaption {
	width: 100%;
	padding: 0 20px;
}

.post .twitter-embeds {
	padding: 10px 0;
}

.post .youtube-embed, .post .slideshare-embed {
	text-align: center;
	padding: 10px 0;
}

.post .youtube-embed iframe {
	width: 100%;
	height: 400px;
}

.post .slideshare-embed iframe {
	width: 72%;
	height: 400px;
}

.post ul {
	padding: 0 20px;
}

.post ul li {
  list-style-type: disc;
}

.post ul ul {
	padding: 0 20px;
}

.post ul ul li {
    list-style-type: circle;
}

.post .foot-note {
	font-size: 11px;
}

.post .back-to-blog {
	padding: 30px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	text-align: center;
}

.post .back-to-blog a {
	padding: 8px 20px;
	border-bottom: 1px solid #428bca;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.post .content {
		padding: 0 20px;
	}

	.post .content img {
		padding: 0px;
	}

	.post .content figcaption {
		padding: 0px;
	}

	.twitter-embeds .twitter-tweet {
		margin-left: auto;
		margin-right: auto;
	}
}


@media only screen and (max-width: 767px) {

	#publication-tabs .active {
		border-radius: 0;
	}

	.post-area {
		padding: 40px 10px;
		text-align: justify;
	}

	.post-area .small-image {
		text-align: center;
		margin-bottom: 20px;
	}

	.post-area .title a {
		font-size: 22px;
	}

	.post .content {
		padding: 0 20px;
	}

	.post .content img {
		padding: 0px;
	}

	.post .content figcaption {
		padding: 0px;
	}

	.twitter-embeds .twitter-tweet {
		margin-left: auto;
		margin-right: auto;
	}

	.post .youtube-embed iframe {
		height: 250px;
	}
}
