.post-area {
	padding: 40px;
	width: 100%;
	min-height: 150px;
	background-color: white;
	border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
	font-size: 30px;
	color: #333;
}

.post-area a:hover {
	color: #0D0017;
}

.post-area img {
	width: 100%;
}

.post .content {
	padding: 20px 140px;
	font-size: 15px;
}

.post h2 {
	padding-top: 35px;
	line-height: 27px;
	margin: 0;
}

.post .content p {
	color: #111;
  padding-top: 10px;
	text-align: justify;	
}

.post .content img {
	width: 100%;
	padding: 20px;
}

.post .content figcaption {
	width: 100%;
	padding: 0 20px;
}

.post .twitter-embeds {
	padding: 10px 0;
}

.post ul {
	padding: 0 20px;
}

.post ul li {
  list-style-type: disc;
}

.post ul ul {
	padding: 0 20px;
}

.post ul ul li {
    list-style-type: circle;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.post .content {
		padding: 0 20px;
	}

	.post .content img {
		padding: 0px;
	}

	.post .content figcaption {
		padding: 0px;
	}

	.twitter-embeds .twitter-tweet {
		margin-left: auto;
		margin-right: auto;
	}
}


@media only screen and (max-width: 767px) {

	.post .content {
		padding: 0 20px;
	}

	.post .content img {
		padding: 0px;
	}

	.post .content figcaption {
		padding: 0px;
	}

	.twitter-embeds .twitter-tweet {
		margin-left: auto;
		margin-right: auto;
	}
}