@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#logo {
    text-align: center;
    padding: 40px 0;
}

#logo img {
    height: 200px;
}

#content {
    font-size: 1.1em;
    letter-spacing: 0.02em;
    padding-bottom: 40px;
}

#links {
    font-size: 1.2em;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
}