@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#company {
    text-align: center;
    padding: 40px 0;
}

#company img {
    height: 200px;
    margin-bottom: 20px;
}

#content {
    font-size: 1.1em;
    letter-spacing: 0.02em;
    padding-bottom: 40px;
}

#clients {
    padding-bottom: 30px;
    text-align: center;    
}

#clients .row > [class*='col-'] {
    padding: 15px;
}

#clients .client-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 180px;
}
