---
---

$green: rgba(52, 235, 134, 1);
$blueish-green: rgba(51, 235, 180, 1);
$blueish-gray: rgba(41, 41, 46, 1);

$green-hex: #34EB86;
$blueish-green-hex: #33EBB4;

$blueish-green-to-green-gradient: linear-gradient(180deg, $blueish-green-hex 0%, $green-hex 100%);

$assistant: 'Assistant', sans-serif;
$lekton: 'Lekton', sans-serif;
$signika: 'Signika', sans-serif;

body {
  font-family: $assistant;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-bottom: 3rem;
  background-color: $blueish-gray;

  .logo {
    margin-left: 1.5rem;
    height: 66%;

    img {
      height: 100%;
    }
  }

  .links {
    font-family: $lekton;
    margin-right: 2rem;

    a span {
      margin: 0 0.5rem;
      color: white;
      font-size: 0.9rem;
      font-weight: bold;
      letter-spacing: 0.18rem;
      text-transform: uppercase;
      transition: color 0.1s ease-in;

      &:hover {
        color: $green;
      }
    }
  }
}

.codesai-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  background-color: black;

  .content {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: white;
  }
}

.course-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .title {
    font-family: $lekton;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;

    span {
      font-family: $signika;
      color: $blueish-green;
      font-weight: lighter;
    }
  }

  .course {
    max-width: 945px;

    .course-label {
      font-family: $lekton;
      display: inline-flex;
      padding: 0.3rem 0.75rem 0.05rem;
      margin-bottom: 1rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: $blueish-green;
      border: 1px solid $blueish-green;
    }

    .information {
      display: flex;

      .insights {

        .course-title {
          font-family: $lekton;
          margin-bottom: 1rem;
          font-size: 3rem;
          font-weight: bolder;
          line-height: 1.2;
        }

        .course-description {
          font-size: 1.3rem;
        }

        section {
          p {
            font-size: 1.15rem;
            margin: 0 0 0.5rem;
            line-height: 1.5;
          }

          // TODO adapt flex model for number & title so that two liners & bullets align (ref group 3)
          &.contents .daily-agenda {
            display: flex;
            margin-top: 1rem;

            .day {
              font-family: $lekton;
              flex-shrink: 0;
              width: 166px;
              font-size: 1.25rem;
              font-weight: bold;
              text-transform: uppercase;
              color: $blueish-green;
            }

            .topics {
              font-size: 1.15rem;
              letter-spacing: 0.025rem;

              .group {
                font-weight: bold;
                margin-bottom: 1rem;

                span {
                  font-size: 1.12rem;
                  font-weight: bold;
                  color: $blueish-green;
                }
              }

              .subgroup {
                margin: 0 0 1rem 2rem;

                span {
                  color: $blueish-green;
                }
              }
            }
          }

          &.where p.unicode {
            margin-top: 1.5rem;
            font-family: $lekton;
            font-weight: bold;
          }
        }

        hr {
          border: 0;
          border-top: 1px solid $green;
        }
      }

      .summary {
        flex-shrink: 0;
        width: 297px;
        height: 567px;
        margin-left: 2rem;
        border-radius: 20px;
        background: $blueish-green-to-green-gradient;

        .padded-area {
          padding: 1rem;

          .codesai-button {
            display: flex;
          }

          .open-course {
            font-family: $lekton;
            margin-bottom: 2rem;
            line-height: 1.2;
            text-align: center;
            font-weight: bold;
            color: white;

            .announcement {
              margin-bottom: 0.5rem;
              font-size: 1.25rem;
            }

            .dates {
              font-size: 2rem;
              text-transform: uppercase;
            }

            .place {
              font-size: 1.5rem;
            }
          }

          .hint {
            display: flex;
            margin-bottom: 1.25rem;

            .icon {
              flex-shrink: 0;
              width: 38px;
            }

            .info {
              font-size: 1.125rem;

              &.download {
                align-self: center;
                padding: 1px;
                border-bottom: 2px solid white;
              }

              .highlight {
                font-family: $signika;
                font-weight: bold;
                text-transform: uppercase;

                span {
                  font-size: 1rem;
                  font-weight: normal;
                }
              }

              .detail {
                line-height: 1.75rem;

                & + .highlight {
                  margin-top: 0.75rem;
                }

                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }

  .photos {
    display: flex;
    margin-top: 3rem;

    .photo {
      margin-right: 1.5rem;
    }
  }

  .testimonials {
    margin-top: 3rem;

    .tweets {
      display: flex;
    }
  }

  .call-to-action-wrapper {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    background: $blueish-green-to-green-gradient;

    .call-to-action {
      display: flex;
      max-width: 945px;
      margin-top: 3rem;

      .message {
        flex-basis: 50%;
        padding-right: 1.5rem;

        .highlight {
          font-family: $lekton;
          margin-bottom: 1rem;
          font-size: 2.2rem;
          font-weight: bolder;
          line-height: 1.2;
          color: white;
        }

        p {
          margin: 0 0 0.5rem;
          font-size: 1.15rem;
          line-height: 1.5;
        }
      }

      .contact {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding-left: 1.5rem;

        .field {
          display: flex;
          margin-bottom: 1rem;
          flex-direction: column;

          label {
            margin-bottom: 0.25rem;
            font-size: 1.2rem;
            color: white;
          }

          input {
            font-family: $assistant;
            padding: 0.6rem 0.8rem;
            font-size: 1rem;
            border: none;
          }

          textarea {
            font-family: $assistant;
            padding: 0.6rem 0.8rem;
            font-size: 1rem;
            resize: none;
            border: none;
          }
        }
      }
    }
  }
}