---
---

$green: rgba(52, 235, 134, 1);
$blueish-green: rgba(51, 235, 180, 1);
$blueish-gray: rgba(41, 41, 46, 1);

$assistant: 'Assistant', sans-serif;
$lekton: 'Lekton', sans-serif;

body {
  font-family: $assistant;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-bottom: 3rem;
  background-color: $blueish-gray;

  .logo {
    margin-left: 1.5rem;
    height: 66%;

    img {
      height: 100%;
    }
  }

  .links {
    font-family: $lekton;
    margin-right: 2rem;

    a span {
      margin: 0 0.5rem;
      color: white;
      font-size: 0.9rem;
      font-weight: bold;
      letter-spacing: 0.18rem;
      text-transform: uppercase;

      &:hover {
        color: $green;
      }
    }
  }
}

.course {
  display: flex;
  justify-content: center;
  max-width: 1024px;

  .insights {
    flex-basis: 66%;

    // TODO fix course-label positioning
    .course-label {
      font-family: $lekton;
      display: inline-flex;
      padding: 0.3rem 0.75rem 0.05rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: $blueish-green;
      border: 1px solid $blueish-green;
    }

    .course-title {
      font-family: $lekton;
      margin: 1rem 0;
      font-size: 3rem;
      font-weight: bolder;
      line-height: 1.2;
    }

    .course-description {
      font-size: 1.5rem;
    }

    .title {
      font-family: $lekton;
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: bold;
    }

    section p {
      font-size: 1.25rem;
      margin: 0 0 0.5rem;
      line-height: 1.5;
    }

    hr {
      border: 0;
      border-top: 1px solid $green;
    }
  }

  .summary {
    flex-basis: 33%;
    max-width: 297px;
    max-height: 567px;
    margin-left: 1rem;
    border-radius: 5px;
    background-color: $blueish-green;

    .open-course {
      font-family: $lekton;
      padding: 1rem 0.5rem;
      line-height: 1.2;
      text-align: center;
      font-weight: bold;
      color: white;

      .announcement {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
      }

      .dates {
        font-size: 2rem;
        text-transform: uppercase;
      }

      .place {
        font-size: 1.5rem;
      }
    }
  }
}