---
title: 404
---

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

    <meta property="og:site_name" content="Codesai">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton:400,400i,700&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika&display=block">
    <link rel='stylesheet' href='/css/ionicons.min.css' />
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/main.css' />

    <script src='{{ site.baseurl_root }}/js/vendor/jquery-3.4.1.slim.min.js'></script>
    <script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
    <script src='{{ site.baseurl_root }}/js/Cookie.js'></script>

    <script>
        function saveCookie() {
            Cookie('codesai').save();
            $('.cookie-message').hide();
        }

        $(document).ready(function() {
            if (Cookie('codesai').exists()) {
                return;
            }
            $('.cookie-message').show();
        });
    </script>

    {% if site.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
</head>
<body>

{% include header.html %}
<main class="error-404">
    <h1>404</h1>
    <p>Whoops! We searched really hard but couldn't find anything here :(</p>
    <img src="/img/404.jpg" alt="404">
</main>
{% include footer.html %}

</body>
</html>
