---
layout: page
title: Blog
permalink: /blog/
---

<section id="blog-posts">
	<div class="container">

		<div id="publication-tabs">
			<div class="row">
				<ul id="publication-tabs">
					<li role="presentation" class="col-xs-6 active"><a href="#blog-tab" aria-controls="blog-tab" role="tab" data-toggle="tab">Blog</a></li>
					<li role="presentation" class="col-xs-6" ><a href="#videos-tab" aria-controls="videos-tab" role="tab" data-toggle="tab">Videos</a></li>
				</ul>
			</div>

			<div class="row">
				<div class="col-md-12 bottom-separator"></div>
			</div>
		</div>
		
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="blog-tab">
				{% include blog-posts.html %}
			</div>

			<div role="tabpanel" class="tab-pane fade" id="videos-tab">
				<div class="tab-area">
					<div class="row">
						<div class="col-md-6">
							<div class="video">
								<div class="title">El camino del aprendizaje</div>
								<div class="speakers">Modesto San Juan y Ronny Ancorini</div>
								{% include youtube-video.html src="https://www.youtube.com/embed/azVsa8XQp8c" no-title="true" %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="video">
								<div class="title">Functions in Clojure</div>
								<div class="speakers">A lot of people!</div>
								{% include youtube-video.html src="https://www.youtube.com/embed/HmAU-z5dPS8" no-title="true" %}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="video">
								<div class="title">Comunidades de necesidad vs comunidades de soluciones</div>
								<div class="speakers">Antonio de la Torre</div>
								{% include youtube-video.html src="https://www.youtube.com/embed/jzV7pMshyic" no-title="true" %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="video">
								<div class="title">OOP &amp; Connascence</div>
								<div class="speakers">Alfredo Casado</div>
								{% include youtube-video.html src="https://www.youtube.com/embed/bIr5fPom7B4" no-title="true" %}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
