---
title: Categories
permalink: /publications/categories/
---

{% include head.html %}

<body>

{% include header.html %}
<main class="categories">
    <h1>Categorías</h1>
    <div class="categories-list">
        {% assign sortedCategories = site.categories | sort %}
        {% for category in sortedCategories %}
            <div class="category">
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <h2 id="{{ category_name | slugize }}">{{ category_name }}</h2>
                <div>
                    {% for post in site.categories[category_name] %}
                        <article>
                            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
                        </article>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</main>

{% include footer.html %}

</body>
</html>
