---
title: pages.courses.cd-databases.name
permalink: /cursos/cd-databases/
permalink_en: /trainings/cd-databases/
---

{% include head.html %}

<body>

    {% include header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">{% translate pages.courses.cd-databases.title %}</div>
                    <div class="course-description">
                        {% translate pages.courses.cd-databases.text %}
                    </div>

                    <div class="summary mobile">
                        {% capture link %}{{ site.translations[site.lang].pages.courses.cd-databases.call_to_action.link }}{% endcapture %}
                        {%
                            include course-summary.html
                            price='600'
                            days='2'
                            hours='16'
                            contact_link=link
                        %}
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>{% translate pages.courses.cd-databases.content.title %}</div>
                        <div class="description">
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.cd-databases.content.day_1.title %}</div>
                                {% translate pages.courses.cd-databases.content.day_1.agenda %}
                            </div>
                            <hr>
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.cd-databases.content.day_2.title %}</div>
                                {% translate pages.courses.cd-databases.content.day_2.agenda %}
                            </div>
                        </div>
                    </section>

                    <section class="languages">
                        <div class="title"><span>// </span>{% translate pages.courses.cd-databases.languages.title %}</div>
                        {% translate pages.courses.cd-databases.languages.text %}
                    </section>

                    <section class="requirements">
                        <div class="title"><span>// </span>{% translate pages.courses.cd-databases.requirements.title %}</div>
                        {% translate pages.courses.cd-databases.requirements.text %}
                    </section>

                    <section class="who">
                        <div class="title"><span>// </span>{% translate pages.courses.cd-databases.who.title %}</div>
                        {% translate pages.courses.cd-databases.who.text %}
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>{% translate pages.courses.cd-databases.where.title %}</div>
                        {% translate pages.courses.cd-databases.where.title %}
                    </section>
                </div>
                <div class="summary desktop">
                    {% capture link %}{{ site.translations[site.lang].components.cd-databases.call_to_action.link }}{% endcapture %}
                    {%
                        include course-summary.html
                        price='600'
                        days='2'
                        hours='16'
                        contact_link=link
                    %}
                </div>
            </div>
        </div>

        <div class="photos"></div>
        {% capture title %}{{ site.translations[site.lang].pages.courses.cd-databases.call_to_action.title }}{% endcapture %}
        {% capture text %}{{ site.translations[site.lang].pages.courses.cd-databases.call_to_action.text }}{% endcapture %}
        {% capture placeholder %}{{ site.translations[site.lang].pages.courses.cd-databases.call_to_action.placeholder }}{% endcapture %}
        {% include components/call-to-action.html
            title=title
            text=text
            defaultMessage='Sent from the Refactoring Course page, no message specified'
            messagePlaceHolder=placeholder
            origin='Curso CD Database'
        %}
    </div>

    {% include footer.html %}

</body>

</html>
