---
title: Codesai
permalink: /clients/
---

{% include head.html %}

<body>
{% include header.html %}
<main class="clients-page">
    <section class="big-clients">
        {% capture name %}{{ site.translations[site.lang].pages.clients.our_clients.lifull.name }}{% endcapture %}
        {% capture about %}{{ site.translations[site.lang].pages.clients.our_clients.lifull.about }}{% endcapture %}
        {% capture our_work %}{{ site.translations[site.lang].pages.clients.our_clients.lifull.our_work }}{% endcapture %}
        {% capture stack %}{{ site.translations[site.lang].pages.clients.our_clients.lifull.stack }}{% endcapture %}
        {%
            include components/client.html
            name=name
            logo='/assets/clients/lifull-connect-black.svg'
            about=about
            work=our_work
            stack=stack
        %}
        {% capture name %}{{ site.translations[site.lang].pages.clients.our_clients.buyviu.name }}{% endcapture %}
        {% capture about %}{{ site.translations[site.lang].pages.clients.our_clients.buyviu.about }}{% endcapture %}
        {% capture our_work %}{{ site.translations[site.lang].pages.clients.our_clients.buyviu.our_work }}{% endcapture %}
        {% capture stack %}{{ site.translations[site.lang].pages.clients.our_clients.buyviu.stack }}{% endcapture %}
        {%
            include components/client.html
            name=name
            logo='/assets/clients/buyviu-black.svg'
            about=about
            work=our_work
            stack=stack
        %}
        {% capture name %}{{ site.translations[site.lang].pages.clients.our_clients.green_power.name }}{% endcapture %}
        {% capture about %}{{ site.translations[site.lang].pages.clients.our_clients.green_power.about }}{% endcapture %}
        {% capture our_work %}{{ site.translations[site.lang].pages.clients.our_clients.green_power.our_work }}{% endcapture %}
        {% capture stack %}{{ site.translations[site.lang].pages.clients.our_clients.green_power.stack }}{% endcapture %}
        {%
            include components/client.html
            name=name
            logo='/assets/clients/green-power-monitor-black.png'
            about=about
            work=our_work
            stack=stack
        %}
        {% capture name %}{{ site.translations[site.lang].pages.clients.our_clients.asv.name }}{% endcapture %}
        {% capture about %}{{ site.translations[site.lang].pages.clients.our_clients.asv.about }}{% endcapture %}
        {% capture our_work %}{{ site.translations[site.lang].pages.clients.our_clients.asv.our_work }}{% endcapture %}
        {% capture stack %}{{ site.translations[site.lang].pages.clients.our_clients.asv.stack }}{% endcapture %}
        {%
            include components/client.html
            name=name
            logo='/assets/clients/grupo-asv-black.svg'
            about=about
            work=our_work
            stack=stack
        %}
        {% capture name %}{{ site.translations[site.lang].pages.clients.our_clients.domingo_alonso.name }}{% endcapture %}
        {% capture about %}{{ site.translations[site.lang].pages.clients.our_clients.domingo_alonso.about }}{% endcapture %}
        {% capture our_work %}{{ site.translations[site.lang].pages.clients.our_clients.domingo_alonso.our_work }}{% endcapture %}
        {% capture stack %}{{ site.translations[site.lang].pages.clients.our_clients.domingo_alonso.stack }}{% endcapture %}
        {%
            include components/client.html
            name=name
            logo='/assets/clients/domingo-alonso-black.png'
            about=about
            work=our_work
            stack=stack
        %}
        {% capture name %}{{ site.translations[site.lang].pages.clients.our_clients.mutua_tinerfena.name }}{% endcapture %}
        {% capture about %}{{ site.translations[site.lang].pages.clients.our_clients.mutua_tinerfena.about }}{% endcapture %}
        {% capture our_work %}{{ site.translations[site.lang].pages.clients.our_clients.mutua_tinerfena.our_work }}{% endcapture %}
        {% capture stack %}{{ site.translations[site.lang].pages.clients.our_clients.mutua_tinerfena.stack }}{% endcapture %}
        {%
            include components/client.html
            name=name
            logo='/assets/clients/mutua.png'
            about=about
        work=our_work
        %}
        {% capture name %}{{ site.translations[site.lang].pages.clients.our_clients.the_motion.name }}{% endcapture %}
        {% capture about %}{{ site.translations[site.lang].pages.clients.our_clients.the_motion.about }}{% endcapture %}
        {% capture our_work %}{{ site.translations[site.lang].pages.clients.our_clients.the_motion.our_work }}{% endcapture %}
        {% capture stack %}{{ site.translations[site.lang].pages.clients.our_clients.the_motion.stack }}{% endcapture %}
        {%
            include components/client.html
            name=name
            logo='/assets/clients/themotion-black.png'
            about=about
            work=our_work
            stack=stack
        %}
        <div class="closing-hexagon">
            <span></span>
        </div>
    </section>
    <section class="other-clients">
        <h2>{% translate pages.clients.other_clients.header %}</h2>
        <div>
            <img src="/assets/clients/typeform.svg" alt="Typeform logo">
            <img src="/assets/clients/merkle.svg" alt="Merkle logo">
            <img src="/assets/clients/schibsted.svg" alt="Schibsted logo">
            <img src="/assets/clients/velneo.svg" alt="Velneo logo">
            <img src="/assets/clients/gradiant.svg" alt="Gradiant logo">
            <img src="/assets/clients/ve.svg" alt="Ve logo">
            <img src="/assets/clients/besepa.svg" alt="Besepa logo">
            <img src="/assets/clients/gtt.svg" alt="gtt logo">
            <img src="/assets/clients/cetelem.svg" alt="Cetelem logo">
        </div>
    </section>
    {% capture title %}{{site.translations[site.lang].pages.clients.contact.title}}{% endcapture %}
    {% capture text %}{{site.translations[site.lang].pages.clients.contact.text}}{% endcapture %}
    {% capture placeholder %}{{ site.translations[site.lang].pages.home.contact.placeholder}} {% endcapture %}
    {% include components/call-to-action.html
    title=title
    text=''
    defaultMessage='Sent from the Clients page, no message specified'
    messagePlaceHolder=placeholder
    origin='Página de clientes'
    %}
</main>
{% include footer.html %}
</body>
</html>