---
layout: page
title: Clientes
permalink: /clients/
---

<section id="clients">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title-custom">Nuestros clientes</div>
			</div>
		</div>

		{% for client in site.clients %}
			<div class="client">
				<div class="row">
					<div class="col-sm-3">
						<div class="logo" style="background-image: url({{ client.logo }})"></div>
					</div>
					<div class="col-sm-9">
						<div class="client-name">
							<a href="{{ client.url }}">{{ client.name }}</a>
						</div>
						<div class="underline"></div>
						<div class="description">
							{% include {{ client.description }}  %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		<section id="without-description">
			<div class="row">
				<div class="col-sm-4">
					{% include logo.html url="https://www.typeform.com/" img="typeform.png" %}	
				</div>

				<div class="col-sm-4">
					{% include logo.html url="https://www.cometgc.com/#homepage" img="merkle.png" %}	
				</div>

				<div class="col-sm-4">
					{% include logo.html url="http://www.schibsted.es/" img="SchibstedSpain.svg" %}	
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					{% include logo.html url="https://velneo.es/" img="velneo_logo_p.png" %}
				</div>

				<div class="col-sm-4">
					{% include logo.html url="https://www.gradiant.org/" img="logo_gradiant.jpg" %}	
				</div>

				<div class="col-sm-4">
					{% include logo.html url="https://www.veinteractive.com/" img="veinteractive.jpeg" %}	
				</div>
			</div>

			<div class="row">

				<div class="col-sm-4">
					{% include logo.html url="https://www.scytl.com/es/" img="scytl.png" %}
				</div>

				<div class="col-sm-4">
					{% include logo.html url="http://www.besepa.com/" img="besepa.png" %}
				</div>

				<div class="col-sm-4">
					{% include logo.html url="https://www.gtt.es/" img="gtt-logo.png" %}
				</div>
			</div>
			</div>
		</section>
	</div>
</section>