---
title: pages.courses.ddd.title
permalink: /cursos/ddd/
permalink_en: /courses/ddd/
---

{% include head.html %}

<body>

    {% include header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">{% translate pages.courses.ddd.name %}</div>
                    <div class="course-description">
                        {% translate pages.courses.ddd.text %}
                     </div>

                    <div class="summary mobile">
                        {% capture link %}{{ site.translations[site.lang].pages.courses.ddd.call_to_action.link }}{% endcapture %}
                        {%
                            include course-summary.html
                            price='600'
                            days='2'
                            hours='16'
                            contact_link=link
                        %}
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>{% translate pages.courses.ddd.content.title %}</div>
                        <div class="description">
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.ddd.content.day_1.title %}</div>
                                {% translate pages.courses.ddd.content.day_1.agenda %}
                            </div>
                            <hr>
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.ddd.content.day_2.title %}</div>
                                {% translate pages.courses.ddd.content.day_2.agenda %}
                            </div>
                        </div>
                    </section>

                    <section class="tecnologia">
                        <div class="title"><span>// </span>{% translate pages.courses.ddd.tools.title %}</div>
                        {% translate pages.courses.ddd.tools.text %}
                    </section>

                    
                    <section class="who">
                        <div class="title"><span>// </span>{% translate pages.courses.ddd.who.title %}</div>
                        {% translate pages.courses.ddd.who.text %}
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>{% translate pages.courses.ddd.where.title %}</div>
                        {% translate pages.courses.ddd.where.text %}
                    </section>
                </div>
                <div class="summary desktop">
                    {% capture link %}{{ site.translations[site.lang].pages.courses.ddd.call_to_action.link }}{% endcapture %}
                    {%
                        include course-summary.html
                        price='600'
                        days='2'
                        hours='16'
                        contact_link=link
                    %}
                </div>
            </div>
        </div>

        <div class="photos">
            <div class="photo">
                <img src="/assets/courses/ddd_course.png" alt="">
            </div>
        </div>
  
        <div class="testimonials">
<!--            <div class="title"><span>// </span>Lo que dicen de nuestro curso</div>-->
        </div>
        {% capture title %}{{ site.translations[site.lang].pages.courses.ddd.call_to_action.title }}{% endcapture %}
        {% capture text %}{{ site.translations[site.lang].pages.courses.ddd.call_to_action.text }}{% endcapture %}
        {% capture placeholder %}{{ site.translations[site.lang].pages.courses.ddd.call_to_action.placeholder }}{% endcapture %}
        {% include components/call-to-action.html
            title=title
            text=text
            defaultMessage='Sent from the DDD Course page, no message specified'
            messagePlaceHolder=placeholder
            origin='Curso DDD'
        %}
    </div>

    {% include footer.html %}

</body>

</html>
