---
title: Connectsai. Online Open Space
permalink: /connectsai
---

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Evento online Open Space organizado por Codesai y Lifull Connect">

    <meta property="og:site_name" content="Connectsai. Online Open Space">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="Evento online Open Space organizado por Codesai y Lifull Connect">
    <meta property="og:url" content="{{ site.url }}">
<!--    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/online-open-space.css' />

</head>
<body>

<main class="online-open-space">
    <section class="hero">
        <div class="background">
            <img src="/assets/connectsai/hero-bg.jpg" alt="hero background image">
        </div>
        <div class="info width-boundary">
            <div class="title">Connectsai</div>
            <div class="details">
                <div class="subtitle">Online Open Space Event</div>
                <div class="divider"></div>
                <div class="motto">Unlock your Agile superpower</div>
            </div>
            <div class="date">Sábado 17 de Octubre</div>
            <div class="time">9h30 - 18h00</div>
            <div class="logos">
                {% include online-open-space/lifull-connect-logo-white.svg %}
                {% include online-open-space/codesai-logo-white.svg %}
            </div>
        </div>
    </section>

    <section class="details">
        <div class="background"></div>
        <div class="content width-boundary">
            <div class="block left">
                <div class="title">¿Como será?</div>
                <p>Se trata de un evento mitad Open Space mitad Conferencia, puesto que algunos slots del día estarán ocupados por charlas predefinidas, mientras que el resto del panel se rellenará con las sugerencias de los asistentes en la mañana del mismo día. Nos alegra mucho contar con personas de gran talento y reconocimiento en la comunidad que han accedido a ayudarnos en esta primera edición dando una charla, <b>¡gracias!</b></p>
                <p>Nada más empezar el evento y tras una breve presentación, pasaremos a montar el tablón del Open Space. Cada participante será libre de proponer una charla o actividad en un slot de tiempo. Para organizarnos de forma online, usaremos un par de herramientas comunes:</p>
                <p><b>Zoom</b> (salas de videoconferencia), <b>Slack</b> (comunicación asíncrona), <b>Trello</b> (tablón) y <b>Jamboard</b> (colaboración y pizarras digitales)</p>
            </div>

            <div class="block right">
                <div class="title">¡Anímate a participar!</div>
                <p>La temática del evento gira en torno a todo el universo Agile. Todo lo relacionado con el desarrollo de un producto, ya sean prácticas de desarrollo, recursos o herramientas técnicas, dirección y gestión de producto o de equipos, cultura empresarial... En los Open Space puede surgir cualquier cosa, propónlo y si despierta interés saldrá adelante!</p>
                <p>La asistencia es <b>gratuita e ilimitada</b>, no íbamos a poner límites en esta primera edición!</p>
            </div>

            <div class="block tickets">
                <a href="https://www.eventbrite.com/e/connectsai-tickets-121453768491?ref=estw">
                    <div class="button">Consigue tu entrada</div>
                </a>
            </div>

            <div class="block left">
                <div class="title agenda">Agenda</div>
                <div class="time-slot">
                    <div class="time">09h30</div>
                    <div class="activity">Introducción y presentación del evento</div>
                </div>
                <div class="time-slot">
                    <div class="time">10h00</div>
                    <div class="activity">Preparación del tablón</div>
                </div>
                <div class="time-slot">
                    <div class="time">11h00</div>
                    <div class="activity">Charlas programadas</div>
                </div>
                <div class="time-slot">
                    <div class="time">12h00</div>
                    <div class="activity">Charlas Open Space</div>
                </div>
                <div class="time-slot">
                    <div class="time">13h00</div>
                    <div class="activity">Charlas Open Space</div>
                </div>
                <div class="time-slot">
                    <div class="time">14h00</div>
                    <div class="activity">Pausa para comer</div>
                </div>
                <div class="time-slot">
                    <div class="time">15h00</div>
                    <div class="activity">Charlas programadas</div>
                </div>
                <div class="time-slot">
                    <div class="time">16h00</div>
                    <div class="activity">Charlas Open Space</div>
                </div>
                <div class="time-slot">
                    <div class="time">17h00</div>
                    <div class="activity">Cierre y feedback</div>
                </div>
            </div>
        </div>
    </section>

    <section class="predefined-speakers">
        <div class="width-boundary">
            <div class="title">Facilitan</div>
            <div class="speakers">
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/facilitator_ingrid.jpg" alt="facilitator photo">
                    </div>
                    <div class="name">Ingrid Astiz <a href="https://twitter.com/IngridAstiz" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div>Estudió Filosofía y trabajó en desarrollo de software hasta que en 2009 encontró las metodologías ágiles que la ayudaron a integrar sus dos pasiones: cuestionar el status-quo y brindar soluciones prácticas. Busca fomentar culturas más sanas, conscientes, plenas y diversas.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/facilitator_antonio.jpg" alt="facilitator photo">
                    </div>
                    <div class="name">Toño de la Torre <a href="https://twitter.com/adelatorrefoss" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div>Desarrollador de software, encontró su sitio natural en equipos interesados en el bienestar de las personas, en la mejora continua, y en hacer un código mantenible.</div>
                    </div>
                </div>
            </div>

            <div class="title with-margin">Speakers</div>
            <div class="speakers">
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_josefina.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Josefina Pérez <a href="https://twitter.com/finuka" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">Higiene mental y trabajo remoto: una nueva realidad</div>
                        <div>Aunque todos la llama Fina, es ingeniera informática. Después de trabajar un tiempo en Hungría, volvió a España para unirse a la familia Tuenti, que luego pasó a ser parte de Teléfonica, dónde desde hace unos años es technical lead. Actualmente lleva el equipo que hace la aplicación de cuenta para O2 UK. Le encanta la tecnología mobile, la gestión de personas, la buena comida y descubrir sitios nuevos. ¡Es una Canaria que adora recorrer el mundo!.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_meri.jpeg" alt="speaker photo">
                    </div>
                    <div class="name">Meritxell Calvo <a href="https://twitter.com/nyan_dev" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">The key to success</div>
                        <div>Programadora fullstack, mentora en Adalab, oradora en eventos tecnológicos y coordinadora de Valencia Software Crafters. En redes publica sobre programación e ingeniería. Su canal de Youtube "Fighting Kitten" está dedicado a compartir curiosidades sobre los teclados mecánicos.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_raquel_lainde.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Raquel Lainde <a href="https://twitter.com/lainde" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">Conciliación laboral en tiempos de pandemia mundial</div>
                        <div>Growth Hacker y Consultora en diversidad infiltrada en (enamorada de) la comunidad agile. Conciliando desde casa en soledad con una manada de tres fieras desde hace 12 años. Obsesionada en mostrar cómo la innovación y rentabilidad están ligadas al desarrollo de culturas inclusivas en las organizaciones IT.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_marta_manso.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Marta Manso <a href="https://twitter.com/MartaMans0" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">Cómo entregar más por menos (y que no nos despidan en el intento)</div>
                        <div>Tras desarrollar software durante 10 años, descubrió la gestión de producto por casualidad y desde entonces no ha parado de aprender al respecto. A comienzos de 2020 dejó su amada Bilbao para ser Product Manager en una fintech de Barcelona que resultó ser un acierto. El año de mudarse a Barcelona, quizá no tanto.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_alfredo.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Alfredo Casado <a href="https://twitter.com/AlfredoCasado" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">Mitos y leyendas de Domain Driven Design</div>
                        <div>Más de 20 años programando. Durante los últimos años ha liderado equipos con métodos ágiles como Extreme Programming y prácticas como DDD (Domain Driven Design). Miembro veterano y conocido de la comunidad Java Hispano.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_miguel.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Miguel Viera <a href="https://twitter.com/mangelviera" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">Mitos y leyendas de Domain Driven Design</div>
                        <div>Coffee lover, minimalist wannabe, cantante amateur y desarrollador de software que busca el equilibrio entre la parte técnica y producto. Cofundador de Codesai, coorganizador principal de Socracan y de multiples comunidades como Software Crafters Gran Canaria, Madrid y DDD Madrid. No me preguntes sobre Python :)</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_roman_zukov.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Roman Zukov <a href="https://twitter.com/zuko_mann" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">TBD</div>
                        <div>Programador fullstack. Fan de mis dos loros, musica rock y desarrollo front end. Últimamente muy enfocado en aprender SEO en mi tiempo libre y parece que cada dia más fan de arquitectura hexagonal. Aprendiendo cada día</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_cristina_del_canto.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Cristina del Canto <a href="#" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">Cómo encaramos de forma iterativa la fusión de dos gigantes de la agregación</div>
                        <div>Cris es la Head of Product del área de B2B de Lifull Connect. Disfruta entendiendo a clientes y usuarios y buscando cómo entregarles valor de forma continua. Ve la experimentación como la base de la evolución de los productos, los equipos y las personas. Aficionada a la lectura y a la compra de libros técnicos, no necesariamente en ese orden.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_adela.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Adela Tort <a href="https://twitter.com/AdelaTort" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">4 visiones, 4 formas de vivir el teletrabajo en esta nueva realidad</div>
                        <div>Woman in tech, activa en el mundo de las comunidades, ha sido organizadora del Women Techmakers Barcelona y del BarcelonaJUG. Aprendiendo cada día de la tecnología y las personas. Disfruta con su família y se relaja nadando en la piscina después de todo un día sin parar.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_ana_carmona.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Ana Carmona <a href="https://twitter.com/nhan_bcn" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">4 visiones, 4 formas de vivir el teletrabajo en esta nueva realidad</div>
                        <div>Ingeniera informática de La Salle con más de 15 años de experiencia, software crafter  y especialista en Legacy Code (alguien tiene que darle amor al código viejito). Agile "evangelist" los últimos años ayudando a todo aquel que quiera introducirse en el mindset del desarrollo de software ágil y difundiendo las buenas prácticas asociadas al refactoring, clean code y testing. Su frase ante cualquier reto que le pongan es “si no lo sé, lo aprendo”. Madre de dos perlas y amante del aprendizaje, sea en el ámbito que sea. En su tiempo libre disfruta de la montaña, los amigos y su familia (mientras que el COVid lo permita)</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_gema_cuenca.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Gema Cuenca <a href="https://twitter.com/gecual" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">4 visiones, 4 formas de vivir el teletrabajo en esta nueva realidad</div>
                        <div>Matemática almeriense que descubrió el mundo de la programación hace ya 16 años durante su tiempo afincada en Italia. Recién aterrizada en las metodologías ágiles, se ha convertido en una aprendiz de Scrum Master, rol que compagina con el de desarrolladora fullstack.</div>
                    </div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_ismael_benitez.png" alt="speaker photo">
                    </div>
                    <div class="name">Ismael Benítez <a href="https://twitter.com/isma_tech" target="_blank">{% include online-open-space/twitter.svg %}</a></div>
                    <div class="description">
                        <div class="talk">4 visiones, 4 formas de vivir el teletrabajo en esta nueva realidad</div>
                        <div>Software Engineer & Data Analyst en LifullConnect  los 4 últimos años. Amante de los números, el código de calidad, la documentación basada en tests, automatización y la cultura de aportar el máximo valor en todo momento. Perseverante en cada objetivo que me propongo e incómodo cada vez que me acerco a la zona de confort.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
