---
title: Connectsai. Online Open Space
permalink: /connectsai
---

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Evento online Open Space organizado por Codesai y Lifull Connect">

    <meta property="og:site_name" content="Online Open Space">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="Evento online Open Space organizado por Codesai y Lifull Connect">
    <meta property="og:url" content="{{ site.url }}">
<!--    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/online-open-space.css' />

</head>
<body>

<main class="online-open-space">
    <section class="hero">
        <div class="background">
            <img src="/assets/online-open-space/hero-bg.png" alt="hero background image">
        </div>
        <div class="info width-boundary">
            <div class="title">Connectsai</div>
            <div class="subtitle">Online Open Space Event</div>
            <div class="date">Sábado 17 de Octubre</div>
            <div class="time">9h30 - 18h00</div>
            <div class="logos">
                {% include online-open-space/lifull-connect-logo-white.svg %}
                {% include online-open-space/codesai-logo-white.svg %}
            </div>
        </div>
    </section>

    <section class="details">
        <div class="background"></div>
        <div class="content width-boundary">
            <div class="block left">
                <div class="title">¿Como será?</div>
                <p>Se trata de un evento mitad Open Space mitad Conferencia, puesto que algunos slots del día estarán ocupados por charlas predefinidas, mientras que el resto del panel se rellenará con las sugerencias de los asistentes en la mañana del mismo día. Nos alegra mucho contar con personas de gran talento y reconocimiento en la comunidad que han accedido a ayudarnos en esta primera edición dando una charla, <b>gracias!</b></p>
                <p>Nada más empezar el evento y tras una breve presentación, pasaremos a montar el tablón del Open Space. Cada participante será libre de proponer una charla o actividad en un slot de tiempo. Para organizarnos de forma online, usaremos un par de herramientas comunes:</p>
                <p><b>Zoom</b> (salas de videoconferencia), <b>Slack</b> (comunicación asíncrona), <b>Trello</b> (tablón) y <b>Jamboard</b> (colaboración y pizarras digitales)</p>
            </div>

            <div class="block right">
                <div class="title">¡Anímate a participar!</div>
                <p>La temática del evento gira en torno a todo el universo Agile. Todo lo relacionado con el desarrollo de un producto, ya sean prácticas de desarrollo, recursos o herramientas técnicas, dirección y gestión de producto o de equipos, cultura empresarial... En los Open Space puede surgir cualquier cosa, propónlo y si despierta interés saldrá adelante!</p>
                <p>La asistencia es <b>gratuita e ilimitada</b>, no íbamos a poner límites en esta primera edición!</p>
            </div>

            <div class="block tickets">
                <a href="#">
                    <div class="button">Consigue tu entrada</div>
                </a>
            </div>

            <div class="block left">
                <div class="title agenda">Agenda</div>
                <div class="time-slot">
                    <div class="time">09h30</div>
                    <div class="activity">Introducción y presentación del evento</div>
                </div>
                <div class="time-slot">
                    <div class="time">10h00</div>
                    <div class="activity">Preparación del tablón</div>
                </div>
                <div class="time-slot">
                    <div class="time">11h00</div>
                    <div class="activity">Charlas de los speakers</div>
                </div>
                <div class="time-slot">
                    <div class="time">12h00</div>
                    <div class="activity">Charlas del Open Space</div>
                </div>
                <div class="time-slot">
                    <div class="time">15h00</div>
                    <div class="activity">Pausa para comer</div>
                </div>
                <div class="time-slot">
                    <div class="time">16h00</div>
                    <div class="activity">Charlas de los speakers</div>
                </div>
                <div class="time-slot">
                    <div class="time">17h00</div>
                    <div class="activity">Charlas del Open Space</div>
                </div>
                <div class="time-slot">
                    <div class="time">18h00</div>
                    <div class="activity">Cierre y feedback</div>
                </div>
            </div>
        </div>
    </section>

    <section class="predefined-speakers">
        <div class="width-boundary">
            <div class="title">Facilitadores</div>
            <div class="speakers">
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/facilitator_ingrid.jpg" alt="facilitator photo">
                    </div>
                    <div class="name">Ingrid Astiz <a href="https://twitter.com/IngridAstiz">@IngridAstiz</a></div>
                    <div class="description">Estudió Filosofía y trabajó en desarrollo de software hasta que en 2009 encontró las metodologías ágiles que la ayudaron a integrar sus dos pasiones: cuestionar el status-quo y brindar soluciones prácticas. Busca fomentar culturas más sanas, conscientes, plenas y diversas.</div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/facilitator_antonio.jpg" alt="facilitator photo">
                    </div>
                    <div class="name">Toño de la Torre <a href="https://twitter.com/adelatorrefoss">@adelatorrefoss</a></div>
                    <div class="description">Encontró su sitio natural en equipos interesados en la mejora continua, y en hacer un código bonito. Desarrolla sobre todo en Javascript y Groovy. Busca la integración de todos los perfiles, especialmente los de diseño en el desarrollo del producto.</div>
                </div>
            </div>
            <div class="title">Ponentes</div>
            
            <div class="speakers">
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_josefina.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Josefina Pérez <a href="https://twitter.com/finuka">@finuka</a></div>
                    <div class="description">Aunque todos la llama Fina, es ingeniera informática. Después de trabajar un tiempo en Hungría, volvió a España para unirse a la familia Tuenti, que luego pasó a ser parte de Teléfonica, dónde desde hace unos años es technical lead. Actualmente lleva el equipo que hace la aplicación de cuenta para O2 UK. Le encanta la tecnología mobile, la gestión de personas, la buena comida y descubrir sitios nuevos. ¡Es una Canaria que adora recorrer el mundo!.</div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_cutre_scrum.png" alt="speaker photo">
                    </div>
                    <div class="name">Cutre Scrum <a href="https://twitter.com/q3scrum">@q3scrum</a></div>
                    <div class="description">Ingeniera de Telecos (aka pelacables) que pronto descubrió que se le gustaban más las personas que los transistores. El día que por fin entendí los punteros en C tuve también otra revelación: claramente, mi pequeña contribución a “hacer un mundo mejor” pasaba porque la menda solo tocara código como hobbie... Y en ello sigo, haciendo “coshash” (mayormente el jelipóller en Twitter y algunas con post its). Trasw muchos años dedicada a la docencia y unos pocos al post-it management, creo firmemente que los primeros 40 años de la adolescencia, sin duda, son los más difíciles...</div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_alfredo.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Alfredo Casado <a href="https://twitter.com/AlfredoCasado">@AlfredoCasado</a></div>
                    <div class="description">Más de 20 años programando. Durante los últimos años ha liderado equipos con métodos ágiles como Extreme Programming y prácticas como DDD (Domain Driven Design). Miembro veterano y conocido de la comunidad Java Hispano.</div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/connectsai/speaker_miguel.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Miguel Viera <a href="https://twitter.com/mangelviera">@mangelviera</a></div>
                    <div class="description">Apasionado del desarrollo y de la formación continua para lograr mejores soluciones. Co-fundador de la comunidad Software Craftsmanship de Gran Canaria. Co-organizador del congreso internacional SoCraTes 2016 (Software Craftsmanship and Testing) en España.</div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/team/antonio_de_la_torre.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Meritxell Calvo <a href="https://twitter.com/nyan_dev">@nyan_dev</a></div>
                    <div class="description">programadora fullstack, mentora en Adalab, oradora en eventos tecnológicos y coordinadora de Valencia Software Crafters. En redes publica sobre programación e ingeniería. Su canal de Youtube "Fighting Kitten" está dedicado a compartir curiosidades sobre los teclados mecánicos.</div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/team/antonio_de_la_torre.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Adela Tort</div>
                    <div class="description">Donec rutrum arcu non congue volutpat. In hac habitasse platea dictumst. Duis pulvinar viverra nunc, in aliquam elit interdum vel. Aliquam erat volutpat.</div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/team/antonio_de_la_torre.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Ana Carmona</div>
                    <div class="description">Donec rutrum arcu non congue volutpat. In hac habitasse platea dictumst. Duis pulvinar viverra nunc, in aliquam elit interdum vel. Aliquam erat volutpat.</div>
                </div>
                <div class="speaker">
                    <div class="photo">
                        <img src="/assets/team/antonio_de_la_torre.jpg" alt="speaker photo">
                    </div>
                    <div class="name">Speaker name</div>
                    <div class="description">Donec rutrum arcu non congue volutpat. In hac habitasse platea dictumst. Duis pulvinar viverra nunc, in aliquam elit interdum vel. Aliquam erat volutpat.</div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
