---
title: Codesai
permalink: /new-home
---

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

    <meta property="og:site_name" content="Codesai">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton:400,400i,700&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika&display=block">
    <link rel='stylesheet' href='/css/ionicons.min.css' />
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/main.css' />

    <script src='{{ site.baseurl_root }}/js/vendor/jquery-3.4.1.slim.min.js'></script>
    <script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
    <script src='{{ site.baseurl_root }}/js/Cookie.js'></script>

    <script>
        function saveCookie() {
            Cookie('codesai').save();
            $('.cookie-message').hide();
        }

        $(document).ready(function() {
            if (Cookie('codesai').exists()) {
                return;
            }
            $('.cookie-message').show();
        });
    </script>

    {% if site.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}

</head>

<body>

{% include new-header.html %}

<main class="home">
    <section class="hero">
        <div>
            <h1>Software y formación de calidad</h1>
            <div><span>//</span>¿Buscas cómo optimizar tus proyectos? Contáctanos</div>
            <div><span>//</span>Somos un equipo de alto rendimiento que busca la</div>
            <div><span>//</span>mejora continua de sí mismo y de su entorno</div>
        </div>
    </section>

    <section class="about">
        <div class="description">
            <div class="text">
                <h2 class="section-title">Parte de tu equipo</h2>
                <p>
                    En Codesai creemos firmemente que los mejores resultados se obtienen colaborando de manera muy cercana con los equipos internos de cada compañía. Por eso, nos gusta formar parte de ellos, enseñándoles de primera mano a mejorar sus procesos y desarrollar mejor código. Compartimos sus logros, frustraciones, dudas... sin olvidarnos de crear un buen ambiente de trabajo y sacar lo mejor de cada uno.
                </p>
                <p>
                    Además, somos perfiles muy polivalentes, lo que nos permite afrontar el lanzamiento de productos de manera muy completa, desde lo más básico hasta fases más avanzadas.
                </p>
            </div>
            <div class="image">
                <img src="/assets/home/top_picture.png" alt="">
            </div>
        </div>
        <div class="clients">
            <h3 class="trusted-by">// Empresas que ya han confiado en nosotros</h3>
            <div>
                <img src="/assets/clients/buyviu.svg" alt="Buyviu logo">
                <img src="/assets/clients/mitula.svg" alt="Mitula logo">
                <img src="/assets/clients/green-power-monitor.svg" alt="Green Power Monitor logo">
                <img src="/assets/clients/grupo-asv.svg" alt="Grupo ASV logo">
                <img src="/assets/clients/domingo-alonso.svg" alt="Domingo Alonso logo">
                <img src="/assets/clients/themotion.svg" alt="TheMotion logo">
                <img src="/assets/clients/typeform.svg" alt="Typeform logo">
                <img src="/assets/clients/merkle.svg" alt="Merkle logo">
                <img src="/assets/clients/schibsted.svg" alt="Schibsted logo">
                <img src="/assets/clients/velneo.svg" alt="Velneo logo">
                <img src="/assets/clients/gradiant.svg" alt="Gradiant logo">
                <img src="/assets/clients/ve.svg" alt="Ve logo">
                <img src="/assets/clients/scytl.svg" alt="Scytl logo">
                <img src="/assets/clients/besepa.svg" alt="Besepa logo">
                <img src="/assets/clients/gtt.svg" alt="gtt logo">
                <img src="/assets/clients/cetelem.svg" alt="Cetelem logo">
            </div>
        </div>
    </section>

    <section class="services">
        <h2 class="section-title">Nuestros servicios</h2>
        <div class="catalogue">
            <div class="section">
                <div class="info">
                    <div class="type">Desarrollo de software</div>
                    <p>Analizamos el problema hasta dar con la solución adecuada.</p>
                    <p>
                        <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>De alta calidad</span>
                    </p>
                    <p>
                        <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>Fácil de adaptar</span>
                    </p>
                    <p>
                        <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>Barato de mantener</span>
                    </p>
                    <p>
                        <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>Cobertura de test</span>
                    </p>
                </div>
                <a href="/">
                    {% include components/codesai-button.html content='Ver proyectos' %}
                </a>
            </div>
            <div class="section">
                <div class="info">
                    <div class="type">Formación presencial</div>
                    <p>Con la ayuda de nuestros cursos, cientos de developers han aprendido a mejorar su código.</p>
                    <p>
                        <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>A medida del cliente</span>
                    </p>
                    <p>
                        <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>In-house y en abierto</span>
                    </p>
                    <p>
                        <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>Expertos en TDD, Refactoring y BDD</span>
                    </p>
                </div>
                {% include components/codesai-button.html content='Ver cursos' %}
            </div>
            <div class="section">
                <div class="info">
                    <div class="type">Asesoramiento y apoyo</div>
                    <p>Con nosotros, tu empresa llegará más lejos. Te ayudaremos a:</p>
                    <p>
                       <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>Mejorar y desatascar tus proyectos</span>
                    </p>
                    <p>
                       <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>Hacer y motivar equipos</span>
                    </p>
                    <p>
                       <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>Escribir mejor código</span>
                    </p>
                    <p>
                       <img src="/assets/icons/tick.svg" alt="Tick">
                        <span>Definir requisitos más claros</span>
                    </p>
                </div>
                <a href="/">
                    {% include components/codesai-button.html content='Casos de éxito' %}
                </a>
            </div>
        </div>
    </section>

    <section class="courses">
        <div class="image">
            <img src="/assets/home/mid_picture.png" alt="">
        </div>
        <div class="description">
            <h2 class="section-title">Expertos en formación Test Driven Development (TDD)</h2>
            <p>
                ¿Todavía no conoces los beneficios de desarrollar código en TDD? En
                Codesai llevamos tiempo practicándolo y estamos convencidos de todas
                las ventajas que proporciona. <strong>Y llevamos más de cinco años
                compartiendo esta metodología con empresas</strong> que quieren un
                software muy robusto que les permita ahorrar tiempo y minimizar costes.
            </p>
            <p>
                Si estás interesado en que tu equipo también sea capaz de aplicar esta
                técnica con total confianza, contacta con nosotros. Somos bastante
                flexibles en cuanto a fechas, ¡siempre que nos des tiempo para
                organizarnos! O si eres un desarrollador que busca por su cuenta un curso
                de este tipo, estate atento, porque <strong>también lo tenemos disponible
                en abierto.</strong> ¡Infórmate sobre cuando será siguiente convocatoria!
            </p>
            <div class="button">
                <a href="/">
                    {% include components/codesai-button.html content='Más información' %}
                </a>
            </div>
        </div>
    </section>

    <section class="team">
        <h2 class="section-title">Quiénes somos</h2>

        <div class="team-cards">
            <svg width="0" height="0" viewBox="0 0 120 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <clipPath id="member-photo-clip-path">
                        <path d="M119.331 42.6799L102.885 0H0V98.3064L65.5043 108.76C69.0236 109.322 72.5759 107.968 74.8288 105.206L117.748 52.5969C120.018 49.815 120.622 46.03 119.331 42.6799Z"/>
                    </clipPath>
                </defs>
            </svg>
            {% include components/member-card.html
                photo='/assets/team/alfredo_casado.jpg'
                name='Alfredo Casado'
                bio='Más de 15 años programando. En los últimos 6, ha liderado equipos con métodos ágiles como Extreme Programming y prácticas como DDD (Domain Driven Design). Miembro veterano y conocido de la  comunidad Java Hispano.'
                twitter_handle='AlfredoCasado'
                linkedin_profile='https://www.linkedin.com/in/alfredo-casado/'
                github_user='AlfredoCasado'
            %}
            {% include components/member-card.html
                photo='/assets/team/daniel_ojeda.jpg'
                name='Daniel Ojeda'
                bio='Aplicar las metodologías agiles en el día a día le permiten realizar un mejor trabajo y redescubrir su pasión por el desarrollo de software. Co-fundador de la comunidad Software Craftsmanship de Gran Canaria y co-organizador de Socrates Canaries 2016.'
                twitter_handle='SuuiGD'
                linkedin_profile='https://www.linkedin.com/in/danielojedaloisel/'
                github_user='Suui'
            %}
            {% include components/member-card.html
                photo='/assets/team/manuel_tordesillas.jpg'
                name='Manuel Tordesillas'
                bio='Ingeniero en Informática y Electrónica con 6 años de experiencia en el desarrollo de Software. Considera esenciales el aprendizaje y la mejora continua para conseguir dejar una marca positiva en la sociedad y la industria.'
                twitter_handle='mjtordesillas'
                linkedin_profile='https://www.linkedin.com/in/mjtordesillas/'
                github_user='mjtordesillas'
            %}
            {% include components/member-card.html
                photo='/assets/team/fran_reyes.jpg'
                name='Fran<br> Reyes'
                bio='Se preocupa por hacer las cosas bien y mejorar continuamente. Defensor de los métodos ágiles por ser una manera de construir software excelente. Aunque su trayectoria es técnica, le interesan otras áreas del producto final (negocio, UX, operaciones, etc).'
                twitter_handle='fran_reyes'
                linkedin_profile='https://www.linkedin.com/in/franreyesperdomo/'
                github_user='franreyes'
            %}
            {% include components/member-card.html
                photo='/assets/team/antonio_de_la_torre.jpg'
                name='Antonio<br> de la Torre'
                bio='Encontró su sitio natural en equipos interesados en la mejora continua, y en hacer un código bonito. Desarrolla sobre todo en Javascript y Groovy. Busca la integración de todos los perfiles, especialmente los de diseño en el desarrollo del producto.'
                twitter_handle='adelatorrefoss'
                linkedin_profile='https://www.linkedin.com/in/antoniodelatorre/'
                github_user='adelatorrefoss'
            %}
            {% include components/member-card.html
                photo='/assets/team/ruben_diaz.jpg'
                name='Rubén<br> Díaz'
                bio='Aprendiendo y desarrollando desde 2014, le encanta seguir las prácticas de XP y colaborar con negocio para entregar valor lo antes posible. Intenta jubilarse habiendo borrado más código del que ha escrito. Co-organizador de Socrates Canaries 2019.'
                twitter_handle='rubendm23'
                linkedin_profile='https://www.linkedin.com/in/rub%C3%A9n-d%C3%ADaz-mart%C3%ADnez-b9276395/'
                github_user='rubendm92'
            %}
            {% include components/member-card.html
                photo='/assets/team/miguel_viera.jpg'
                name='Miguel Viera'
                bio='Apasionado del desarrollo y de la formación continua para lograr mejores soluciones. Co-fundador de la comunidad Software Craftsmanship de Gran Canaria. Co-organizador del congreso internacional SoCraTes 2016 (Software Craftsmanship and Testing) en España.'
                twitter_handle='mangelviera'
                linkedin_profile='https://www.linkedin.com/in/miguel-viera/'
                github_user='Groxalf'
            %}
            {% include components/member-card.html
                photo='/assets/team/manuel_rivero.jpg'
                name='Manuel Rivero'
                bio='Empezó de nuevo hace pocos años como desarrollador web. Co-fundador de la comunidad Software Craftsmanship de Barcelona, involucrado en la comunidad Clojure Developers Barcelona y co-fundador de la comunidad Aprendices.'
                twitter_handle='trikitrok'
                linkedin_profile='https://www.linkedin.com/in/manuel-rivero-54411271/'
                github_user='trikitrok'
            %}
        </div>
    </section>

    <section class="blog">
        <h2 class="section-title">Compartiendo conocimiento</h2>
        <p>
            Conferencia Agile Spain, DevFest, Tarugoconf... En Codesai nos encanta participar en eventos y
            compartir puntos de vista con otros profesionales (tanto, que incluso nos hemos atrevido a organizar
            alguno). Y además de estar involucrados en algunas comunidades, también <strong>publicamos contenido
            que ayude a nuestro sector a mejorar y hacer un código de calidad.</strong>
        </p>
        <div class="posts">
            {% for post in site.posts limit:3 %}
                <a href="{{ post.url }}" target="_blank" class="post">
                    <div>
                        <img src="/assets/{{ post.small_image }}" alt="{{ post.title }}">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.author }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <a href="/publications/">
            {% include components/codesai-button.html content='Más contenido' %}
        </a>
    </section
    >
    <section class="partners">
        <h2 class="section-title">Colaboran con nosotros</h2>
    </section>

    {% include components/call-to-action.html
        title='Contacta con nosotros'
        text='<p>¿Tienes dudas? ¿Quieres saber más sobre nuestra forma de trabajar y en todo lo que podemos aportar a tu equipo? Cuéntanoslo en contact@codesai.com o rellena el formulario de contacto que tienes al lado.</p><p>¡Intentaremos responderte con la mayor brevedad posible!</p>'
        defaultMessage='Sent from the Home page, no message specified'
        messagePlaceHolder='Me interesaría recibir actualizaciones acerca de los cursos y las próximas ediciones en abierto'
    %}
</main>

{% include new-footer.html %}

</body>
</html>
