---
title: pages.home.name
permalink: /
---
{% include head.html %}
<body>

{% include header.html %}

<!-- TODO: Tablet breakpoints for team-cards, courses section-title and sharing knowledge -->
<main class="home">
  <section class="hero">
    <div>
      <!-- TODO: Code snippet background -->
      <h1>{% translate pages.home.title %}</h1>
      <div><span>//</span>{% translate pages.home.slogan1 %}</div>
      <div><span>//</span>{% translate pages.home.slogan2 %}</div>
      <div><span>//</span>{% translate pages.home.slogan3 %}</div>
    </div>
  </section>

  <section class="about">
    <div class="description">
      <div class="text">
        <h2 class="section-title">{% translate pages.home.about.title %}</h2>
        <p>
          {% translate pages.home.about.first_paragraph %}
        </p>
        <p>
          {% translate pages.home.about.second_paragraph %}
        </p>
      </div>
      <div class="image">
        <img src="/assets/home/top_picture.png" alt="">
      </div>
    </div>
    <div class="clients">
      <h3 class="trusted-by">
        <img src="/assets/icons/thumbs_up.svg" alt="thumbs up">
        {% translate pages.home.clients.title %}
      </h3>
      <div>
        <img src="/assets/clients/mango.svg" alt="Lifull Connect logo">
        <img src="/assets/clients/lifull-connect.svg" alt="Lifull Connect logo">
        <img src="/assets/clients/buyviu.svg" alt="Buyviu logo">
        <img src="/assets/clients/green-power-monitor.svg" alt="Green Power Monitor logo">
        <img src="/assets/clients/grupo-asv.svg" alt="Grupo ASV logo">
        <img src="/assets/clients/domingo-alonso.svg" alt="Domingo Alonso logo">
        <img src="/assets/clients/themotion.svg" alt="TheMotion logo">
        <img src="/assets/clients/typeform.svg" alt="Typeform logo">
        <img src="/assets/clients/merkle.svg" alt="Merkle logo">
        <img src="/assets/clients/schibsted.svg" alt="Schibsted logo">
        <img src="/assets/clients/velneo.svg" alt="Velneo logo">
        <img src="/assets/clients/gradiant.svg" alt="Gradiant logo">
        <img src="/assets/clients/ve.svg" alt="Ve logo">
        <img src="/assets/clients/mutua.png" alt="Mutua logo">
        <img src="/assets/clients/besepa.svg" alt="Besepa logo">
        <img src="/assets/clients/gtt.svg" alt="gtt logo">
        <img src="/assets/clients/cetelem.svg" alt="Cetelem logo">
      </div>
    </div>
  </section>

  <section class="services">
    <h2 class="section-title">{% translate pages.home.services.title %}</h2>
    <div class="catalogue">
      <img src="/assets/shapes/hexaback.svg" alt="Hexagon 1" class="shape first">
      <img src="/assets/shapes/hexaback.svg" alt="Hexagon 2" class="shape second">
      <img src="/assets/shapes/hexaback.svg" alt="Hexagon 3" class="shape third">
      <div class="section">
        <div class="info">
          <div class="type">{% translate pages.home.services.software_development.title %}</div>
          <p>{% translate pages.home.services.software_development.description %}</p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.software_development.bullet1 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.software_development.bullet2 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.software_development.bullet3 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.software_development.bullet4 %}</span>
          </p>
        </div>
        <a href="{% translate urls.clients %}">
          {% capture button_text %}{{site.translations[site.lang].pages.home.services.software_development.call_to_action}}{% endcapture %}
          {% include components/codesai-button.html content=button_text %}
        </a>
      </div>
      <div class="section">
        <div class="info">
          <div class="type">{% translate pages.home.services.courses.title %}</div>
          <p>{% translate pages.home.services.courses.description %}</p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.courses.bullet1 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.courses.bullet2 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.courses.bullet3 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.courses.bullet4 %}</span>
          </p>
        </div>
        <a href="{% translate urls.courses %}">
          {% capture button_text %}{{site.translations[site.lang].pages.home.services.courses.call_to_action}} {% endcapture %}
          {% include components/codesai-button.html content=button_text %}
        </a>
      </div>
      <div class="section">
        <div class="info">
          <div class="type">{% translate pages.home.services.consultancy.title %}</div>
          <p>{% translate pages.home.services.consultancy.description %}</p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.consultancy.bullet1 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.consultancy.bullet2 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.consultancy.bullet3 %}</span>
          </p>
          <p>
            <img src="/assets/icons/tick.svg" alt="Tick">
            <span>{% translate pages.home.services.consultancy.bullet4 %}</span>
          </p>
        </div>
        <a href="{% translate urls.clients %}">
          {% capture button_text %}{{site.translations[site.lang].pages.home.services.consultancy.call_to_action}} {% endcapture %}
          {% include components/codesai-button.html content=button_text %}
        </a>
      </div>
    </div>
  </section>

  <section class="courses">
    <h2 class="section-title mobile">{% translate pages.home.tdd.title %}</h2>
    <div class="image">
      <img src="/assets/home/mid_picture.png" alt="">
    </div>
    <div class="description">
      <h2 class="section-title desktop">{% translate pages.home.tdd.title %}</h2>
      <p>
        {% translate pages.home.tdd.first_paragraph %}
      </p>
      <p>
        {% translate pages.home.tdd.second_paragraph %}
      </p>
      <div class="button">
        <a href="{% translate urls.tdd %}">
          {% capture button_text %} {{site.translations[site.lang].pages.home.tdd.call_to_action}}{% endcapture %}
          {% include components/codesai-button.html content=button_text %}
        </a>
      </div>
    </div>
  </section>

  <section class="team" id="team">
    <h2 class="section-title">{% translate pages.home.team.title %}</h2>

    <!-- TODO: Change avatar image style -->
    <div class="team-cards">
      {% capture alfredo %}{{site.translations[site.lang].pages.home.team.alfredo}}{% endcapture %}
      {% include components/member-card.html
      photo='/assets/team/alfredo_casado.jpg'
      name='Alfredo Casado'
      bio=alfredo
      twitter_handle='AlfredoCasado'
      linkedin_profile='https://www.linkedin.com/in/alfredo-casado/'
      github_user='AlfredoCasado'
      %}
      {% capture dani %}{{site.translations[site.lang].pages.home.team.dani}}{% endcapture %}
      {% include components/member-card.html
      photo='/assets/team/daniel_ojeda.jpg'
      name='Daniel Ojeda'
      bio=dani
      twitter_handle='SuuiGD'
      linkedin_profile='https://www.linkedin.com/in/danielojedaloisel/'
      github_user='Suui'
      %}
      {% capture manu_tordesillas %}{{site.translations[site.lang].pages.home.team.manu_tordesillas}}{% endcapture %}
      {% include components/member-card.html
      photo='/assets/team/manuel_tordesillas.jpg'
      name='Manuel Tordesillas'
      bio=manu_tordesillas
      linkedin_profile='https://www.linkedin.com/in/mjtordesillas/'
      github_user='mjtordesillas'
      %}
      {% capture fran %}{{site.translations[site.lang].pages.home.team.fran}}{% endcapture %}
      {% include components/member-card.html
      photo='/assets/team/fran_reyes.jpg'
      name='Fran Reyes'
      bio=fran
      twitter_handle='fran_reyes'
      linkedin_profile='https://www.linkedin.com/in/franreyesperdomo/'
      github_user='franreyes'
      %}
      {% capture antonio %}{{site.translations[site.lang].pages.home.team.antonio}}{% endcapture %}
      {% include components/member-card.html
      photo='/assets/team/antonio_de_la_torre.jpg'
      name='Toño de la Torre'
      bio=antonio
      twitter_handle='adelatorrefoss'
      linkedin_profile='https://www.linkedin.com/in/antoniodelatorre/'
      github_user='adelatorrefoss'
      %}
      {% capture miguel %}{{site.translations[site.lang].pages.home.team.miguel}}{% endcapture %}
      {% include components/member-card.html
      photo='/assets/team/miguel_viera.jpg'
      name='Miguel Viera'
      bio=miguel
      twitter_handle='mangelviera'
      linkedin_profile='https://www.linkedin.com/in/miguel-viera/'
      github_user='mangelviera'
      %}
      {% capture manu_rivero %}{{site.translations[site.lang].pages.home.team.manu_rivero}}{% endcapture %}
      {% include components/member-card.html
      photo='/assets/team/manuel_rivero.jpg'
      name='Manuel Rivero'
      bio=manu_rivero
      twitter_handle='trikitrok'
      linkedin_profile='https://www.linkedin.com/in/manuel-rivero-54411271/'
      github_user='trikitrok'
      %}
      {% capture ruben %}{{site.translations[site.lang].pages.home.team.ruben}}{% endcapture %}
      {% include components/member-card.html
      photo='/assets/team/ruben_diaz.jpg'
      name='Rubén Díaz'
      bio=ruben
      twitter_handle='rubendm23'
      linkedin_profile='https://www.linkedin.com/in/rub%C3%A9n-d%C3%ADaz-mart%C3%ADnez-b9276395/'
      github_user='rubendm92'
      %}
    </div>
  </section>

  <section class="collaborators">
    <h2 class="section-title">Partners</h2>

    <div class="collaborator-cards">
      <img src="/img/partners/jb_beam.svg" alt="JetBrains">
    </div>
  </section>

  <section class="collaborators">
    <h2 class="section-title">{% translate pages.home.collaborators %}</h2>

    <div class="collaborator-cards">
      <div class="collaborator-card">
        <img src="/assets/partners/alvaro.jpeg" alt="Álvaro García">
        <div class="name">Álvaro García</div>
        <div class="role">Principal Software Engineer</div>
      </div>
      <div class="collaborator-card">
        <img src="https://gravatar.com/avatar/6f6a60115023a94084d76b506e7df43e?s=200" alt="Maica Trinidad">
        <div class="name">Maica Trinidad</div>
        <div class="role">Agile Coach</div>
      </div>
    </div>
  </section>

  <section class="blog">
    <h2 class="section-title">{% translate pages.home.blog.title %}</h2>
    <p>
      {% translate pages.home.blog.paragraph %}
    </p>

    <!-- TODO mix posts & videos, label them & style them accordingly -->
    <div class="posts">
      {% for post in site.posts limit:3 %}
      <a href="{{ post.url }}" target="_blank" class="post">
        <div>
          <img src="/assets/{{ post.small_image }}" alt="{{ post.title }}">
          <h3>{{ post.title }}</h3>
          <p>{{ post.author }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="actions">
      <a href="{% translate urls.blog %}">
        {% capture button_text %} {{site.translations[site.lang].pages.home.blog.call_to_action}} {% endcapture %}
        {% include components/codesai-button.html content=button_text %}
      </a>
    </div>
  </section>
  {% capture title %}{{site.translations[site.lang].pages.home.contact.title}}{% endcapture %}
  {% capture text %}{{site.translations[site.lang].pages.home.contact.text}}{% endcapture %}
  {% capture placeholder %}{{ site.translations[site.lang].pages.home.contact.placeholder}} {% endcapture %}
  {% include components/call-to-action.html
  title=title
  text=text
  defaultMessage='Sent from the Home page, no message specified'
  messagePlaceHolder=placeholder
  origin='Home'
  %}

  {% include components/masks.html %}
  {% include components/filters.html %}
</main>

{% include footer.html %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var associates = document.querySelector('.team-cards');
    for (var i = associates.children.length; i >= 0; i--) associates.appendChild(associates.children[Math.random() * i | 0]);
  });

</script>

</body>
</html>
