---
title: Mastering IntelliJ
permalink: /cursos/intellij-guru/
---

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

    <meta property="og:site_name" content="Codesai">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton:400,400i,700&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika&display=block">
    <link rel='stylesheet' href='/css/ionicons.min.css' />
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/main.css' />

    <script src='{{ site.baseurl_root }}/js/vendor/jquery-3.4.1.slim.min.js'></script>
    <script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
    <script src='{{ site.baseurl_root }}/js/Cookie.js'></script>

    <script>
        function saveCookie() {
            Cookie('codesai').save();
            $('.cookie-message').hide();
        }

        $(document).ready(function() {
            if (Cookie('codesai').exists()) {
                return;
            }
            $('.cookie-message').show();
        });
    </script>

    {% if site.environment == 'production' %}
        {% include analytics.html %}
    {% endif %}

</head>

<body>

    {% include header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">IntelliJ Guru</div>
                    <div class="course-description">
                        <p>
                            El objetivo de este curso es que saques el máximo provecho a las herramientas de desarrollo de JetBrains, partiendo de IntelliJ como entorno de aprendizaje. A través de ejemplos y actividades, iremos descubriendo muchas de las funcionalidades que nos ofrece.
                        </p>
                    </div>

                    <div class="summary mobile">
                        {%
                            include course-summary.html
                            price='300'
                            hours='8'
                            place='Remoto'
                            contact_link='/cursos/intellij-guru/#call-to-action'
                        %}
                        <img class="jb-training-logo" src="/img/partners/jetbrains-training-partner.svg" alt="JetBrains">
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>Contenidos</div>
                        <div class="description">
                            <div class="daily-agenda">
                                <div class="topics">
                                    <div class="group"><span>1.</span> Introducción y filosofía al refactoring automático</div>
                                    <div class="subgroup"><span>&bull;</span> Shortcuts (atajos)</div>
                                    <div class="subgroup"><span>&bull;</span> Live templates</div>
                                    <div class="subgroup"><span>&bull;</span> Navegar por el código</div>
                                    <div class="subgroup"><span>&bull;</span> Catálogo de refactorings</div>
                                    <div class="subgroup"><span>&bull;</span> Asistentes de entrenamiento</div>
                                    <div class="group"><span>2. </span> Refactorings automáticos</div>
                                    <div class="subgroup"><span>&bull;</span> Refactorings clásicos</div>
                                    <div class="subgroup"><span>&bull;</span> Refactoring a patrones</div>
                                    <div class="subgroup"><span>&bull;</span> Análisis de código</div>
                                    <div class="group"><span>3. </span> Testing</div>
                                    <div class="subgroup"><span>&bull;</span> Scratch files</div>
                                    <div class="subgroup"><span>&bull;</span> Http requests</div>
                                    <div class="subgroup"><span>&bull;</span> Debugging</div>
                                    <div class="subgroup"><span>&bull;</span> Integración con frameworks de testing</div>
                                    <div class="subgroup"><span>&bull;</span> Plugins</div>
                                    <div class="subgroup"><span>&bull;</span> Env files</div>
                                    <div class="subgroup"><span>&bull;</span> Integración con Docker</div>
                                    <div class="group"><span>4. </span> Integración con herramientas de build</div>
                                    <div class="subgroup"><span>&bull;</span> Maven</div>
                                    <div class="subgroup"><span>&bull;</span> Gradle</div>
                                    <div class="group"><span>5. </span> Control de versiones</div>
                                    <div class="subgroup"><span>&bull;</span> Histórico local</div>
                                    <div class="subgroup"><span>&bull;</span> Hooks</div>
                                    <div class="subgroup"><span>&bull;</span> Resolución de conflictos</div>
                                    <div class="group"><span>6. </span> Pairing remoto</div>
                                    <div class="group"><span>7. </span> Integración con Spring</div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="who">
                        <div class="title"><span>// </span>¿Para quién está pensado?</div>
                        <p>El curso está pensado para cualquier equipo que quiera exprimir al máximo cualquier herramienta de desarrollo de JetBrains.</p>
                        <p>En el curso usaremos principalmente IntelliJ IDEA, pero muchas de las funcionalidades que veremos están disponibles en los otros IDEs de JetBrains (WebStorm, PhpStorm, RubyMine, Rider, etc).</p>
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>Modalidades</div>
                        <p>El curso se imparte in-house (cerrado para la empresa que lo contrata) o en abierto en fechas señaladas.</p>
                        <p class="unicode">Ten en cuenta que los cursos in-house se realizan una vez nos contrate el cliente. Necesitaremos saber la fecha con más de un mes de antelación para poder cuadrar agendas.</p>
                        <p class="unicode">Durante el año iremos anunciando fechas de ediciones en abierto a las que podrás apuntarte en el formulario de abajo.</p>
                    </section>

                </div>
                <div class="summary desktop">
                    {%
                        include course-summary.html
                        price='300'
                        hours='8'
                        place='Remoto'
                        contact_link='/cursos/intellij-guru/#call-to-action'
                    %}
                    <img class="jb-training-logo" src="/img/partners/jetbrains-training-partner.svg" alt="JetBrains">
                </div>
            </div>
        </div>

        <div class="photos"></div>

        {% include components/call-to-action.html
            title='¡OK! Me interesa realizar el curso de IntelliJ Guru'
            text='<p>Si deseas iniciar el proceso de inscripción o te ha quedado alguna duda sobre este curso, puedes escribirnos a contact@codesai.com o rellenar el formulario de contacto.</p><p>¡Intentaremos responderte con la mayor brevedad posible!</p>'
            defaultMessage='Sent from the IntelliJ Guru page, no message specified'
            messagePlaceHolder='Me interesaría recibir actualizaciones acerca de los cursos y las próximas ediciones en abierto'
            origin='Curso IntelliJ Guru'
        %}
    </div>

    {% include footer.html %}

</body>

</html>
