---
title: Codesai
permalink: /new-clients
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

    <meta property="og:site_name" content="Codesai">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton:400,400i,700&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika&display=block">
    <link rel='stylesheet' href='/css/ionicons.min.css' />
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/main.css' />

    <script src='{{ site.baseurl_root }}/js/vendor/jquery-3.4.1.slim.min.js'></script>
    <script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
    <script src='{{ site.baseurl_root }}/js/Cookie.js'></script>

    <script>
        function saveCookie() {
            Cookie('codesai').save();
            $('.cookie-message').hide();
        }

        $(document).ready(function() {
            if (Cookie('codesai').exists()) {
                return;
            }
            $('.cookie-message').show();
        });
    </script>

    {% if site.environment == 'production' %}
        {% include analytics.html %}
    {% endif %}
</head>
<body>
{% include new-header.html %}
<main class="clients-page">
    <section class="big-clients">
        {%
            include components/client.html
            name='Lifull Connect'
            logo='/assets/clients/lifull-connect-black.svg'
            about='Lifull Connect es uno de los mayores agregadores a nivel mundial en los sectores de empleo, coches y moda, y el mayor en el sector inmobiliario.'
            work='Estamos ayudando a varios equipos de Lifull Connect a cambiar su cultura y mejorar su eficiencia, tanto trabajando con código legado como en proyectos nuevos,mediante un acompañamiento intensivo, un programa de práctica deliberada y formaciones específicas (TDD, code smells, refactoring, trabajo con código legado, ...).
        Llevamos más de un año ayudando a varios equipos de Lifull, y ahora estamos empezando a trabajar con un par de equipos más.
        Nuestra relación con Lifull Connect está siendo una simbiosis muy enriquecedora.'
            stack='<p><strong>Lenguajes de programación:</strong> PHP, Java, Kotlin, Scala, JavaScript.</p>
        <p><strong>Librerías/frameworks:</strong> Symfony, reffects, Play.</p>
        <p><strong>Persistencia:</strong> MySQL, Solr, S3, Spark, Redis.</p>'
        %}
        {%
            include components/client.html
            name='Buyviu'
            logo='/assets/clients/buyviu-black.svg'
            about='Buyviu es un marketplace que publica productos de diferentes redes de afiliación y redirige tráfico a sus afiliados a cambio de comisiones por las ventas de productos. Actualmente se encuentra en cuatro países con más de 3 millones de productos en cada país y la plataforma se encuentra preparada para su expansión a nuevos países. El valor añadido de BuyViu es la capacidad de generar automáticamente vídeos de presentación para productos con sus marcas y categorías, lo que mejora la capacidad de captación de tráfico frente a otros marketplaces existentes.'
            work='3 miembros de Codesai se unieron a este proyecto para asumir tareas propias del CTO, como seleccionar las tecnologías y arquitecturas adecuadas, incorporar nuevo talento y gestionar la comuniación entre el departamento técnico y los stakeholders. Gracias al trabajo diario con el equipo propio de la empresa (una de nuestras bases) conseguimos crear una cultura de trabajo que fomentara prácticas como el pair programming, TDD o integración contínua que produjo una mejora de los resultados obtenidos.'
            stack='<p><strong>Lenguajes de programación:</strong> Python, Javascript, Kotlin.</p>
        <p><strong>Librerías/frameworks:</strong> Django, Flask, Nodejs, React, Spring Boot.</p>
        <p><strong>Persistencia:</strong> PostgreSQL (Amazon RDS), Elasticsearch (Amazon ES), S3, Redis.</p>
        <p><strong>Orquestación de servicios:</strong> Docker, ECS, Cloudformation, Ansible.</p>
        <p><strong>Monitorización de servicios:</strong> Prometheus, Kibana, Grafana, CloudWatch.</p>'
        %}
        {%
            include components/client.html
            name='Green Power Monitor'
            logo='/assets/clients/green-power-monitor-black.png'
            about='Más de 10 años de experiencia ofreciendo soluciones a medida para plantas de energías renovables. Empresa líder independiente en el sector que gestiona, controla y monitoriza cerca de 2.700 instalaciones de este tipo altededor del mundo, facilitando herramientas que permiten optimizar al máximo todo su rendimiento.'
            work='Dentro del equipo de front-end, ayudamos a desarrollar una SPA que constituía un auténtico desafío debido a la gran cantidad de datos a visualizar y a la necesidad de crear una experiencia de usuario sólida (además de una buena estética visual). Como parte del equipo GPM Plus, la labor de Codesai se centró en la actualización de su software de gestión y monitorización de grandes portfolios de energías renovables, manteniendo un equilibrio entre la refactorización del código legado (en C# y con una antigüedad de casi 10 años) y la creación de nuevas funcionalidades.'
            stack='<p>ClojureScript, Om, re-om C#</p>'
        %}
        {%
            include components/client.html
            name='Grupo ASV'
            logo='/assets/clients/grupo-asv-black.svg'
            about='Conjunto de empresas de servicios de amplia trayectoria vinculada principalmente a los negocios de transporte sanitario, seguros y servicios funerarios, con presencia en varias provincias de España.'
            work='Dos de nuestros profesionales, especializados en backend y frontend, estuvieron integrados en un equipo de 14 personas a tiempo completo usando Scrum para mejorar el sistema de gestión de ambulancias de la empresa. Nuestro conocimiento tecnológico, así como la experiencia en el desarrollo de productos con metodologías y prácticas de XP, formaron parte de las buenas prácticas técnicas requeridas. Eso, junto con la buena alineación dentro del equipo, permitió alcanzar las altas exigencias de calidad que precisaba el proyecto.'
            stack='<p>Angular 1.5, Node.js, Loopback, Docker, Oracle</p>'
        %}
        {%
            include components/client.html
            name='Grupo Domingo Alonso'
            logo='/assets/clients/domingo-alonso-black.png'
            about='Su filial, Aplicaciones Informáticas Domingo Alonso (AIDA), es la encargada del desarrollo y mantenimiento de software para gestionar la importación, reparación y venta de vehículos. El programa se utiliza a nivel internacional tanto por las empresas del grupo como por otras del sector de la automoción.'
            work='Nuestro mayor reto fue ayudar a AIDA a cambiar su cultura. Durante más de dos años estuvimos acompañando a su equipo, consiguiendo una mejora tanto en sus procesos (adoptando metodologías ágiles) como en el análisis de producto. Nuestra labor de mentorización se extendió también a la interiorización de prácticas técnicas de XP como TDD, pair programing, integración/deploy continuo o refactoring, y en principios de diseño orientado a objetos como DDD o arquitectura hexagonal, a la vez que generábamos nuevas funcionalidades. Toda esta transformación ágil acabó produciendo resultados tan positivos como el crecimiento profesional de los miembros de su departamento y, lo que es más importante, la generación de una cultura de mejora contínua.'
            stack='<p>.Net, C#, ECMAScript 6, SQL Server, PowerShell, RabbitMQ, SignalR, WPF, Knockout</p>'
        %}
        {%
            include components/client.html
            name='Mutua Tinerfeña'
            logo='/assets/clients/mutua.png'
            about='<p>Mutua Tinerfeña es una aseguradora con más de 85 años de experiencia en el sector de los seguros. Actualmente es la única aseguradora canaria que opera en el archipiélago. Cuenta con software propio para gestionar los múltiples productos que oferta, además de integraciones con diferentes sistemas en el mercado. El conocimiento que se necesita para operar en este sector es elevado y complejo.'
        work='Estamos ayudando a Mutua Tinerfeña a cambiar su cultura mediante un acompañamiento de baja intensidad pero continuo y con formaciones (TDD, historias de usuario, Impact Mapping..). Se ha conseguido mejorar tanto sus procesos, adoptando metodologías ágiles y mejorando el análisis de producto, como sus prácticas técnicas, mentorizando a su equipo en prácticas técnicas de XP como TDD, pair programming, integración/deploy continuo o refactoring.</p>

        <p>La transformación que se está produciendo en Mutua Tinerfeña está teniendo resultados muy positivos. A la vez se está consiguiendo minimizar lo mś posible el coste y caos que podría generar el cambio de paradigma. Su equipo está creciendo poco a poco profesionalmente, interiorizando las prácticas técnicas y, por encima de todo, generando una cultura de "mejora continua".</p>'
            stack='<p>Java, PLSQL, Scala, Kafka, JSF, Oracle Forms</p>'
        %}
        {%
            include components/client.html
            name='The Motion'
            logo='/assets/clients/themotion-black.png'
            about='Start-up revolucionaria dentro de la industria del video-advertising, de plataforma abierta que intenta ayudar a sus clientes a crear video-ads únicos a partir de cualquier dato de producto, para hacer crecer sus negocios de forma rápida y sencilla.'
            work='Ayudamos a su equipo técnico (relativamente pequeño, entre 7-10 personas) a través de sesiones de pair programming a poner en práctica TDD y a mejorar sus conocimientos sobre diseño orientado a objetos. El resultado fue bastante positivo. Quedaron bastante satisfechos, resolviendo muchas dudas sobre cómo aplicar TDD en su día a día y sobre testing en general.'
            stack='<p>Python</p>'
        %}
        <div class="closing-hexagon">
            <span></span>
        </div>
    </section>
    <section class="other-clients">
        <h2>Hemos ayudado también a mejorar el código de todas estas empresas:</h2>
        <div>
            <img src="/assets/clients/typeform.svg" alt="Typeform logo">
            <img src="/assets/clients/merkle.svg" alt="Merkle logo">
            <img src="/assets/clients/schibsted.svg" alt="Schibsted logo">
            <img src="/assets/clients/velneo.svg" alt="Velneo logo">
            <img src="/assets/clients/gradiant.svg" alt="Gradiant logo">
            <img src="/assets/clients/ve.svg" alt="Ve logo">
            <img src="/assets/clients/besepa.svg" alt="Besepa logo">
            <img src="/assets/clients/gtt.svg" alt="gtt logo">
            <img src="/assets/clients/cetelem.svg" alt="Cetelem logo">
        </div>
    </section>
    {% include components/call-to-action.html
    title='¡Descubre todo lo que podemos hacer por tu empresa!'
    text='<p>¿Tienes dudas? ¿Quieres saber más sobre nuestra forma de trabajar y en todo lo que podemos aportar a tu equipo? Cuéntanoslo en contact@codesai.com o rellena el formulario de contacto que tienes al lado.</p><p>¡Intentaremos responderte con la mayor brevedad posible!</p>'
    defaultMessage='Sent from the Clients page, no message specified'
    messagePlaceHolder='Me interesaría recibir información sobre posibles colaboraciones con mi empresa'
    %}
</main>
{% include new-footer.html %}
</body>
</html>