---
title: pages.newsletter_subscription_confirmation.title
permalink: /newsletter-subscription-confirmation/
---

{% include head.html %}

<body>
{% include header.html %}


<main class="newsletter">
    <section class="about">
        <div class="description">
            <div class="text">
                <h2 class="section-title">{% translate pages.newsletter_subscription_confirmation.about.title %}</h2>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.first_paragraph %}
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.second_paragraph %}
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.third_paragraph %}
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.fourth_paragraph %}
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.share_paragraph %}
                </p>

                <p>
                <div>
                    <a href="{% translate pages.newsletter_subscription_confirmation.about.share_twitter_button_link%}">
                        {% capture button_text_twitter
                        %}{{site.translations[site.lang].pages.newsletter_subscription_confirmation.about.share_twitter_button_text}}{%
                        endcapture %}
                        {% include components/codesai-button.html content=button_text_twitter %}
                    </a>
                    <a href="{% translate pages.newsletter_subscription_confirmation.about.share_linkedin_button_link%}">
                        {% capture button_text_linkedin
                        %}{{site.translations[site.lang].pages.newsletter_subscription_confirmation.about.share_linkedin_button_text}}{%
                        endcapture %}
                        {% include components/codesai-button.html content=button_text_linkedin %}
                    </a>
                </div>
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.fifth_paragraph %}
                </p>
            </div>
            <div class="image">
                <img src="/assets/newsletter/newsletter_confirm.png" alt="newsletter confirmation">
            </div>
        </div>

    </section>

</main>
{% include footer.html %}
</body>
