---
title: pages.newsletter_subscription_confirmation.title
permalink: /newsletter-subscription-confirmation/
---

{% include head.html %}

<body>
{% include header.html %}


<main class="newsletter">
    <section class="about">
        <div class="description">
            <div class="text">
                <h2 class="section-title">{% translate pages.newsletter_subscription_confirmation.about.title %}</h2>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.first_paragraph %}
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.second_paragraph %}
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.third_paragraph %}
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.fourth_paragraph %}
                </p>
                <p>
                    {% translate pages.newsletter_subscription_confirmation.about.fifth_paragraph %}
                </p>
            </div>
            <div class="image">
                <img src="/assets/newsletter/newsletter_confirm.png" alt="newsletter confirmation">
            </div>
        </div>

    </section>

</main>
{% include footer.html %}
</body>
