---
layout: page
title: Publications
permalink: /publications/
---

<section id="blog-posts">
	<div class="container">

		<div id="publication-tabs">
			<div class="row">
				<ul>
					<li role="presentation" class="col-xs-6 active"><a href="#posts-tab" aria-controls="posts-tab" role="tab" data-toggle="tab">Posts</a></li>
					<li role="presentation" class="col-xs-6" ><a href="#videos-tab" aria-controls="videos-tab" role="tab" data-toggle="tab">Videos</a></li>
				</ul>
			</div>

			<div class="row">
				<div class="col-md-12 bottom-separator"></div>
			</div>
		</div>
		
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="posts-tab">
				{% include blog-posts.html %}
			</div>

			<div role="tabpanel" class="tab-pane fade" id="videos-tab">
				<div class="tab-area">
					{% include videos.html %}
				</div>
			</div>

		</div>
	</div>
</section>

<script>
	var tabToBeShown = document.location.hash + '-tab';
	if (tabToBeShown) {
		$('#publication-tabs a[href="' + tabToBeShown + '"]').tab('show');
	}
</script>
