---
title: pages.publications.title
permalink: /publications/
---

{% include head.html %}

<body>

{% include header.html %}

<main class="publications">
    <ul class="tabs">
        <li class="active" id="showPosts">{% translate pages.publications.posts %}</li>
        <li id="showVideos"><a>{% translate pages.publications.videos %}</a></li>
    </ul>

    <div class="posts" id="postsTab">
        {% for post in site.posts %}
            <div class="post">
                <div class="image">
                    {% if post.small_image %}
                        <div class="small-image" style="background-image: url(../assets/{{ post.small_image}})"></div>
                    {% else %}
                        <div class="small-image" style="background-image: url(../img/logo.svg); width: 80%; margin: auto;"></div>
                    {% endif %}
                </div>
                <div class="content">
                    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                    <p>{{ post.date | date: "%d/%m/%Y" }}</p>
                    <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="videos hidden" id="videosTab">
        {% include published-video.html title="CQRS y Event Sourcing. ¿La tierra prometida?" speakers="Alfredo Casado" video-id="xp2EFJCqp_g" %}

        {% include published-video.html title="Clean code & refactoring + live coding" speakers="Alfredo Casado y Miguel Viera" video-id="CIfBC56tPEI" %}

        {% include published-video.html title="Introducción a TDD + live coding" speakers="Alfredo Casado y Miguel Viera" video-id="zmjmgdOB1pM" %}

        {% include published-video.html title="Arquitectura Hexagonal + live coding" speakers="Alfredo Casado y Miguel Viera" video-id="u-0PfHpKwT4" %}

        {% include published-video.html title="El legacy vino para quedarse" speakers="Antonio de la Torre" video-id="WRiQPOn7Fcc" %}

        {% include published-video.html title="TDD no es escribir el test primero" speakers="Daniel Ojeda" video-id="nS1gqqf6Cb0" %}

        {% include published-video.html title="Listening to the tests" speakers="Fran Reyes" video-id="e-d1P-kZIfs" %}

        {% include published-video.html title="Una vida descubriendo Agile" speakers="Antonio de la Torre" video-id="y9FLkaN7Yxo" %}

        {% include published-video.html title="Effects, coeffects and subscriptions: a pit of success for SPAs" speakers="Manuel Rivero" video-id="ZucGhy8fGVA" %}

        {% include published-video.html title="Valores y principios en el diseño del software" speakers="Fran Reyes" video-id="sXLCBcELu5Y" %}

        {% include published-video.html title="Discusiones y decisiones: herramientas para la efectividad" speakers="Antonio de la Torre" video-id="fDvr-fs01m8" %}

        {% include published-video.html title="Learned lessons in a real world project" speakers="Luis Rovirosa" video-id="HfAsrpF0Reo" %}

        {% include published-video.html title="Slow life o cómo montárselo bien como desarrollador" speakers="Luis Rovirosa y Jordi Anguela" video-id="BtxhAD3gcPI" %}

        {% include published-video.html title="Native and browser SPA versions using re-frame, ClojureScript and ReactNative" speakers="Manuel Rivero" video-id="p1fXJyomXNQ" %}

        {% include published-video.html title="Replace String Constants with Type III" speakers="Carlos Blé" video-id="b9rv37eyeRw" %}

        {% include published-video.html title="Replace String Constants with Type II" speakers="Carlos Blé" video-id="o8PVNrfl1p8" %}

        {% include published-video.html title="Replace String Constants with Type I" speakers="Carlos Blé" video-id="RIyqsyxhQmA" %}

        {% include published-video.html title="Sequence Comprehensions en Clojure" speakers="Manuel Rivero" video-id="rxegilFlZIc" %}

        {% include published-video.html title="Aprender a distinguir el problema de las soluciones" speakers="Carlos Blé" video-id="IqUo9kCWQrw" %}

        {% include published-video.html title="El camino del aprendizaje" speakers="Modesto San Juan y Ronny Ancorini" video-id="V0Z9RcgeRbU" %}

        {% include published-video.html title="Funciones en Clojure" speakers="Manuel Rivero" video-id="HmAU-z5dPS8" %}

        {% include published-video.html title="Comunidades de necesidad vs comunidades de soluciones" speakers="Antonio de la Torre" video-id="jzV7pMshyic" %}

        {% include published-video.html title="OOP &amp; Connascence" speakers="Alfredo Casado" video-id="bIr5fPom7B4" %}

        {% include published-video.html title="Stop complaining Start doing" speakers="Luis Rovirosa" video-id="SYMXS6hv8d8" %}

        {% include published-video.html title="Técnicas de lectura rápida" speakers="Daniel Ojeda" video-id="o6sNTK671XU" %}

        {% include published-video.html title="Destructuring en Clojure" speakers="Manuel Rivero" video-id="qMcjufX8czs" %}

        {% include published-video.html title="Refactoring C# sequences: Safe Unwrap" speakers="Carlos Blé" video-id="DpGk34Lqo-A" %}

        {% include published-video.html title="Refactoring JavaScript orientado a objetos" speakers="Carlos Blé" video-id="se8k3D7E-ik" %}

        {% include published-video.html title="Refactoring JavaScript con estilo funcional" speakers="Carlos Blé" video-id="_cObNw1B8E8" %}

        {% include published-video.html title="Kata de las Cartas en JavaScript" speakers="Carlos Blé" video-id="LJQnxDZQHoo" %}

        {% include published-video.html title="Transformation Priority Premise with JavaScript" speakers="Carlos Blé" video-id="D2gFmSUeA3w" %}

        {% include published-video.html title="Refactoring to functional style JavaScript" speakers="Carlos Blé" video-id="ZFDeJA2emg4" %}

        {% include published-video.html title="Cards Kata in JavaScript" speakers="Carlos Blé" video-id="C8Ea80oOumg" %}

        {% include published-video.html title="Implementando algoritmos con TDD" speakers="Carlos Blé" video-id="vL78Cm5BJBU" %}

        {% include published-video.html title="Apertura Mejorando Software CAS 2015" speakers="Carlos Blé" video-id="_G-Qm_IDJhI" %}

        {% include published-video.html title="Entrevistas AprendiendoTDD: Carlos Blé" speakers="Carlos Blé" video-id="SkGlzxkiKPs" %}

        {% include published-video.html title="TDD Concretar en lugar de abstraer" speakers="Carlos Blé" video-id="xkIMzuxKpU4" %}
    </div>
</main>


{% include footer.html %}

<script>
    document.getElementById('showPosts').addEventListener('click', () => {
        document.getElementById('postsTab').classList.remove('hidden');
        document.getElementById('videosTab').classList.add('hidden');
        document.getElementById('showPosts').classList.add('active');
        document.getElementById('showVideos').classList.remove('active');
    });
    document.getElementById('showVideos').addEventListener('click', () => {
        document.getElementById('postsTab').classList.add('hidden');
        document.getElementById('videosTab').classList.remove('hidden');
        document.getElementById('showPosts').classList.remove('active');
        document.getElementById('showVideos').classList.add('active');
    });

    document.querySelectorAll('.youtube-player > div').forEach(e => {
        e.addEventListener('click', () => {
            const iframe = document.createElement("iframe");
            const embed = "https://www.youtube.com/embed/ID?autoplay=1";
            iframe.setAttribute("src", embed.replace("ID", e.dataset.id));
            iframe.setAttribute("frameborder", "0");
            iframe.setAttribute("allowfullscreen", "1");
            e.parentNode.replaceChild(iframe, e);
        })
    });
</script>
</body>
</html>
