---
title: pages.courses.code_smells_refactoring.title
permalink: /cursos/refactoring/
permalink_en: /trainings/refactoring/
---

{% include head.html %}

<body>

    {% include header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">{% translate pages.courses.code_smells_refactoring.name %}</div>
                    <div class="course-description">
                        {% translate pages.courses.code_smells_refactoring.text %}
                    </div>

                    <div id="course-summary-mobile" class="summary mobile">
                        {% capture discount %}{{ site.translations[site.lang].components.course_summary.special_discount }}{% endcapture %}
                        {% capture link %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.link }}{% endcapture %}
                        {%
                            include course-summary.html
                            price='590'
                            days='4'
                            hours='20'
                            special_discount=discount
                            contact_link=link
                            open_edition_dates='<ul class="dates"><li>En C#: <p>1, 2, 3, 9 y 10 de diciembre</p></li></ul>'
                        %}
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.content.title %}</div>
                        <div class="description">
                            <div class="daily-agenda">
                                {% translate pages.courses.code_smells_refactoring.content.agenda %}
                            </div>
                        </div>
                    </section>

                    <section class="languages">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.languages.title %}</div>
                        {% translate pages.courses.code_smells_refactoring.languages.text %}
                    </section>

                    <section class="requirements">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.requirements.title %}</div>
                        {% translate pages.courses.code_smells_refactoring.requirements.text %}
                    </section>

                    <section class="who">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.who.title %}</div>
                        {% translate pages.courses.code_smells_refactoring.who.text %}
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.where.title %}</div>
                        {% translate pages.courses.code_smells_refactoring.where.text %}
                    </section>
                </div>
                <div id="course-summary-desktop" class="summary desktop">
                    {% capture discount %}{{ site.translations[site.lang].components.course_summary.special_discount }}{% endcapture %}
                    {% capture link %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.link }}{% endcapture %}
                    {%
                        include course-summary.html
                        price='590'
                        days='4'
                        hours='20'
                        special_discount=discount
                        contact_link=link
                        open_edition_dates='<ul class="dates"><li>En C#: <p>1, 2, 3, 9 y 10 de diciembre</p></li></ul>'
                    %}
                </div>
            </div>
        </div>

        <div class="photos">
            <div class="photo" style="width:50%;">
                <img src="/assets/courses/cs_r_training.png" alt="">
            </div>
        </div>
        {% capture title %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.title }}{% endcapture %}
        {% capture text %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.text }}{% endcapture %}
        {% capture placeholder %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.placeholder }}{% endcapture %}
        {% include components/call-to-action.html
            title=title
            text=text
            defaultMessage='Sent from the Refactoring Course page, no message specified'
            messagePlaceHolder=placeholder
            origin='Curso Refactoring'
        %}
    </div>

    {% include footer.html %}

</body>

</html>
