---
title: pages.courses.code_smells_refactoring.title
permalink: /cursos/refactoring/
permalink_en: /trainings/refactoring/
---

{% include head.html %}

<body>

    {% include header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">{% translate pages.courses.code_smells_refactoring.name %}</div>
                    <div class="course-description">
                        {% translate pages.courses.code_smells_refactoring.text %}
                    </div>

                    <div class="summary mobile">
                        {% capture link %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.link }}{% endcapture %}
                        {%
                            include course-summary.html
                            price='550'
                            days='2.5'
                            hours='20'
                            contact_link=link
                            open_edition_dates='23, 24, 25, 30 y 31 de octubre'
                            open_edition_place ='con Java y en remoto'
                            open_edition_message='De 10.00 a 14.00 (peninsular)'
                        %}
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.content.title %}</div>
                        <div class="description">
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.code_smells_refactoring.content.day_1.title %}</div>
                                {% translate pages.courses.code_smells_refactoring.content.day_1.agenda %}
                            </div>
                            <hr>
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.code_smells_refactoring.content.day_2.title %}</div>
                                {% translate pages.courses.code_smells_refactoring.content.day_2.agenda %}
                            </div>
                            <hr>
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.code_smells_refactoring.content.day_3.title %}</div>
                                {% translate pages.courses.code_smells_refactoring.content.day_3.agenda %}
                            </div>
                        </div>
                    </section>

                    <section class="languages">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.languages.title %}</div>
                        {% translate pages.courses.code_smells_refactoring.languages.text %}
                    </section>

                    <section class="requirements">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.requirements.title %}</div>
                        {% translate pages.courses.code_smells_refactoring.requirements.text %}
                    </section>

                    <section class="who">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.who.title %}</div>
                        {% translate pages.courses.code_smells_refactoring.who.text %}
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>{% translate pages.courses.code_smells_refactoring.where.title %}</div>
                        {% translate pages.courses.code_smells_refactoring.where.text %}
                    </section>
                </div>
                <div class="summary desktop">
                    {% capture link %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.link }}{% endcapture %}
                    {%
                        include course-summary.html
                        price='550'
                        days='2.5'
                        hours='20'
                        contact_link=link
                        open_edition_dates='23, 24, 25, 30 y 31 de octubre'
                        open_edition_place ='con Java y en remoto'
                        open_edition_message='De 10.00 a 14.00 (peninsular)'
                    %}
                </div>
            </div>
        </div>

        <div class="photos">
            <div class="photo">
                <img src="/assets/courses/tdd_course_0.png" alt="">
            </div>
            <div class="photo">
                <img src="/assets/courses/tdd_course_1.png" alt="">
            </div>
        </div>
        {% capture title %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.title }}{% endcapture %}
        {% capture text %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.text }}{% endcapture %}
        {% capture placeholder %}{{ site.translations[site.lang].pages.courses.code_smells_refactoring.call_to_action.placeholder }}{% endcapture %}
        {% include components/call-to-action.html
            title=title
            text=text
            defaultMessage='Sent from the Refactoring Course page, no message specified'
            messagePlaceHolder=placeholder
            origin='Curso Refactoring'
        %}
    </div>

    {% include footer.html %}

</body>

</html>
