---
title: pages.courses.tdd.title
permalink: /curso-de-tdd/
permalink_en: /courses/tdd/
---

{% include head.html %}

<body>

    {% include header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">{% translate pages.courses.tdd.title %}</div>
                    <div class="course-description">{% translate pages.courses.tdd.text %}</div>

                    <div class="summary mobile">
                        {% capture discount %}{{ site.translations[site.lang].components.course_summary.special_discount }}{% endcapture %}
                        {% capture link %}{{ site.translations[site.lang].pages.courses.tdd.call_to_action.link }}{% endcapture %}
                        {%
                            include course-summary.html
                            price='450'
                            days='2'
                            hours='16'
                            special_discount=discount
                            contact_link=link
                        %}
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>{% translate pages.courses.tdd.agenda.title %}</div>
                        <div class="description">
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.tdd.agenda.day_1.title %}</div>
                                {% translate pages.courses.tdd.agenda.day_1.content %}
                            </div>
                            <hr>
                            <div class="daily-agenda">
                                <div class="day">{% translate pages.courses.tdd.agenda.day_2.title %}</div>
                                {% translate pages.courses.tdd.agenda.day_2.content %}
                            </div>
                        </div>
                    </section>

                    <section class="languages">
                        <div class="title"><span>// </span>{% translate pages.courses.tdd.languages.title %}</div>
                        {% translate pages.courses.tdd.languages.text %}
                    </section>

                    <section class="requirements">
                        <div class="title"><span>// </span>{% translate pages.courses.tdd.requirements.title %}</div>
                        {% translate pages.courses.tdd.requirements.text %}
                    </section>

                    <section class="who">
                        <div class="title"><span>// </span>{% translate pages.courses.tdd.target.title %}</div>
                        <p>{% translate pages.courses.tdd.target.text %}</p>
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>{% translate pages.courses.tdd.where.title %}</div>
                        {% translate pages.courses.tdd.where.text %}
                    </section>
                </div>
                <div class="summary desktop">
                    {% capture discount %}{{ site.translations[site.lang].components.course_summary.special_discount }}{% endcapture %}
                    {% capture link %}{{ site.translations[site.lang].pages.courses.tdd.call_to_action.link }}{% endcapture %}
                    {%
                        include course-summary.html
                        price='450'
                        days='2'
                        hours='16'
                        special_discount=discount
                        contact_link=link
                    %}
                </div>
            </div>
        </div>

        <div class="photos">
            <div class="photo">
                <img src="/assets/courses/tdd_course_0.png" alt="">
            </div>
            <div class="photo">
                <img src="/assets/courses/tdd_course_1.png" alt="">
            </div>
        </div>

        <div class="testimonials">
<!--            <div class="title"><span>// </span>Lo que dicen de nuestro curso</div>-->
        </div>
        {% capture title %}{{ site.translations[site.lang].pages.courses.tdd.call_to_action.title }}{% endcapture %}
        {% capture text %}{{ site.translations[site.lang].pages.courses.tdd.call_to_action.text }}{% endcapture %}
        {% capture placeholder %}{{ site.translations[site.lang].pages.courses.tdd.call_to_action.placeholder }}{% endcapture %}
        {% include components/call-to-action.html
            title=title
            text=text
            defaultMessage='Sent from the TDD Course page, no message specified'
            messagePlaceHolder=placeholder
            origin='Curso TDD'
        %}
    </div>

    {% include footer.html %}

</body>

</html>
