---
title: Curso de TDD
permalink: /tdd-course/
---

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

    <meta property="og:site_name" content="Codesai">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton:400,400i,700&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika&display=block">
    <link rel='stylesheet' href='/css/ionicons.min.css' />
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/main.css' />

    <script src='{{ site.baseurl_root }}/js/vendor/jquery-3.4.1.slim.min.js'></script>
    <script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
    <script src='{{ site.baseurl_root }}/js/Cookie.js'></script>

    <script>
        function saveCookie() {
            Cookie('codesai').save();
            $('.cookie-message').hide();
        }

        $(document).ready(function() {
            if (Cookie('codesai').exists()) {
                return;
            }
            $('.cookie-message').show();
        });
    </script>

    {% if site.environment == 'production' %}
        {% include analytics.html %}
    {% endif %}

</head>

<body>

    {% include new-header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">Test Driven Development (TDD)</div>
                    <div class="course-description">
                        TDD es una técnica de desarrollo que produce código de calidad y excelentes baterías de pruebas automáticas cuando se hace correctamente. Es un curso esencialmente práctico, en el que aplicarás TDD haciendo Pair Programming la mayoría del tiempo bajo supervisión y guía del experto.
                    </div>

                    <div class="summary mobile">
                        {% include course-summaries/tdd-course.html %}
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>Contenidos</div>
                        <div class="description">
                            <div class="daily-agenda">
                                <div class="day">Primer día</div>
                                <div class="topics">
                                    <div class="group"><span>1.</span> Introducción a TDD</div>
                                    <div class="subgroup"><span>&bull;</span> ¿Por qué TDD?</div>
                                    <div class="subgroup"><span>&bull;</span> Ciclo de TDD</div>

                                    <div class="group"><span>2. </span>Refactoring & Clean Code</div>
                                    <div class="subgroup"><span>&bull;</span> Refactoring</div>
                                    <div class="subgroup"><span>&bull;</span> Code Smells</div>
                                    <div class="subgroup"><span>&bull;</span> Código habitable</div>
                                    <div class="subgroup"><span>&bull;</span> Principios de diseño</div>
                                </div>
                            </div>
                            <hr>
                            <div class="daily-agenda">
                                <div class="day">Segundo día</div>
                                <div class="topics">
                                    <div class="group"><span>3. </span>Patrones, sostenibilidad y variaciones del ciclo básico</div>

                                    <div class="group"><span>4. </span>Test doubles</div>
                                    <div class="subgroup"><span>&bull;</span> Interaction-based testing</div>
                                    <div class="subgroup"><span>&bull;</span> Dummies, fakes, stubs, spies & mocks</div>

                                    <div class="group"><span>5. </span>Outside-in TDD</div>
                                    <div class="subgroup"><span>&bull;</span> Ventajas sobre inside-out</div>
                                    <div class="subgroup"><span>&bull;</span> Classicist vs Mockist</div>
                                    <div class="subgroup"><span>&bull;</span> Mal uso de los test doubles y consejos para evitarlo</div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="languages">
                        <div class="title"><span>// </span>Lenguajes</div>
                        <p>Generalmente, usamos Java porque es el lenguaje en el que la mayor parte de la gente se defiende, pero en el curso se pueden usar también otros lenguajes, eso no es problema. Si Java / IntelliJ no es para ti un problema, será la opción por defecto.</p>
                    </section>

                    <section class="requirements">
                        <div class="title"><span>// </span>Requisitos</div>
                        <p>Lo ideal, es que cada persona venga con su portátil y las herramientas de desarrollo ya instaladas. También debe tener instalado Git.</p>
                        <p>Haremos pair programming, por lo que sería buena idea crear un usuario nuevo para el curso, para poder cambiar de unas máquinas a otras sin preocuparse por la privacidad de la cuenta.</p>
                        <p>Si no puedes traer tu portátil, no hay problema, sólo hace falta uno por pareja. No obstante, avísanos antes con antelación para asegurarnos de que contamos con el número mínimo de portátiles necesarios.</p>
                    </section>

                    <section class="who">
                        <div class="title"><span>// </span>¿Para quién está pensado?</div>
                        <p>Este es un curso para personas que sepan programar. Fundamentalmente programadores pero también testers que quieran conocer más sobre calidad de código y pruebas automáticas. Lo que hace falta es venir con ganas y la mente abierta. Si nunca has probado TDD antes, te sorprenderá.</p>
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>In-house y en abierto</div>
                        <p>El curso se puede impartir in-house, (cerrado para la empresa que lo contrata), o en abierto. Intentamos impartir una edición en abierto cada trimestre. Suele pasar que las empresas pequeñas envían gente a nuestros cursos en abierto. Si quieres que te avisemos de las próximas ediciones en abierto, por favor rellena este formulario.</p>
                        <p class="unicode">Ten en cuenta que los cursos in-house se realizan una vez nos contrate el cliente. Necesitaremos saber la fecha con más de un mes de antelación para poder cuadrar agendas.</p>
                    </section>
                </div>
                <div id="course-summary-dektop" class="summary desktop">
                    {% include course-summaries/tdd-course.html %}
                </div>
            </div>
        </div>

        <div class="photos">
            <div class="photo">
                <img src="/assets/courses/tdd_course_0.png" alt="">
            </div>
            <div class="photo">
                <img src="/assets/courses/tdd_course_1.png" alt="">
            </div>
        </div>

        <div class="testimonials">
<!--            <div class="title"><span>// </span>Lo que dicen de nuestro curso</div>-->
        </div>

        <div id="call-to-action" class="call-to-action-wrapper">
            <div class="call-to-action">
                <div class="message">
                    <div class="highlight">¡OK! Me interesa realizar el curso de Test Driven Development (TDD)</div>
                    <p>Si deseas iniciar el proceso de  inscripción o te ha quedado alguna duda sobre este curso, puedes escribirnos a contact@codesai.com o rellenar el formulario de contacto que tienes al lado.</p>
                    <p>¡Intentaremos responderte con la mayor brevedad posible!</p>
                </div>
                <div class="contact">
                    <div class="field">
                        <label for="email">* Email</label>
                        <input id="email" name="entry.579934409" type="text" required />
                    </div>

                    <div class="field">
                        <label for="name">Nombre completo</label>
                        <input id="name" name="entry.1588628238" type="text" required />
                    </div>

                    <div class="field">
                        <label for="subject">¿Qué te gustaría contarnos?</label>
                        <textarea id="subject"
                                  name="entry.2072593880"
                                  rows="4"
                                  placeholder="Me interesaría recibir actualizaciones acerca de los cursos y las próximas ediciones en abierto"></textarea>
                    </div>

                    <div id="submit-contact-form" class="codesai-button" tabindex="0" onclick="submitContactForm()">
                        <div class="content">Enviar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include new-footer.html %}

</body>

<script>
    // window.addEventListener('scroll', () => {
    //     const courseInformationHeight = document.getElementById('course-information').offsetHeight;
    //     const summaryElement = document.getElementById('course-summary');
    //     const summaryHeight = summaryElement.offsetHeight;
    //     const currentScroll = document.documentElement.scrollTop;
    //     const scrollableArea = courseInformationHeight - summaryHeight;
    //
    //     // TODO fix flickering on quick scroll. Maybe use anime.js
    //     let translateYValue = Math.max(0, currentScroll - 124);
    //
    //     if (currentScroll <= 124) translateYValue = 0;
    //     if (currentScroll >= scrollableArea + 124) translateYValue = scrollableArea;
    //
    //     summaryElement.style.transform = `translateY(${translateYValue}px)`;
    // });

    const submitContactFormButton = document.getElementById("submit-contact-form");
    if (submitContactFormButton) {
        submitContactFormButton.addEventListener('keyup', (event) => {
            if (event.key === "Enter") {
                event.preventDefault();
                submitContactFormButton.click();
            }
        });
    }

    function submitContactForm() {
        const email = document.getElementById('email').value;
        const name = document.getElementById('name').value || 'noname';
        const subject = document.getElementById('subject').value || 'Sent from TDD Course page, no message specified';

        if (!email) {
            alert("Por favor especifica tu correo electrónico en el formulario");
            return;
        }

        fetch(`https://docs.google.com/forms/u/0/d/e/1FAIpQLSfsR_MlKnk_ZdClyNbtA0g6c75XYCN_7yxNcZyuxvJ29KCRdw/formResponse?entry.579934409=${email}&entry.1588628238=${name}&entry.2072593880=${subject}`, {
            method: 'POST',
            mode: 'no-cors'
        }).then(_ => {
            alert("Hemos recibido tu mensaje, gracias!")
        })
        .catch(errorMessage => {
            alert("Ha habido un problema al enviar tu mensaje, puedes escribirnos directamente a contact@codesai.com\n\nDetails:\n" + errorMessage)
        });
    }
</script>

</html>
