---
title: Curso de TDD
permalink: /tdd-course/
---

<!DOCTYPE html>
<html>
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

    <meta property="og:site_name" content="Codesai">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton&display=swap">
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/tdd_course.css' />

    <script src='{{ site.baseurl_root }}/js/vendor/jquery-1.10.2.min.js'></script>
    <script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
    <script src='{{ site.baseurl_root }}/js/Cookie.js'></script>

    <script>
        function saveCookie() {
            Cookie('codesai').save();
            $('.cookie-message').hide();
        }

        $(document).ready(function() {
            if (Cookie('codesai').exists()) {
                return;
            }
            $('.cookie-message').show();
        });
    </script>

    {% if site.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}

</head>

<body>

    <header>
        <div class="logo">
            <img src="{{ site.baseurl_root }}/assets/logos/codesai_logo_green_white.svg" alt="">
        </div>
        <div class="links">
            <a href=""><span>Equipo</span></a>
            <a href=""><span>Clientes</span></a>
            <a href=""><span>Formación</span></a>
            <a href=""><span>Publicaciones</span></a>
            <a href=""><span>Contacto</span></a>
        </div>
    </header>

    <div class="course-page">
        <div class="course">
            <div class="course-label">Curso</div>

            <div class="information">
                <div class="insights">
                    <div class="course-title">Test Driven Development (TDD)</div>
                    <div class="course-description">
                        TDD es una técnica de desarrollo que produce código de calidad y excelentes baterías de pruebas automáticas cuando se hace correctamente. Es un curso esencialmente práctico, en el que aplicarás TDD haciendo Pair Programming la mayoría del tiempo bajo supervisión y guía del experto.
                    </div>

                    <section class="contents">
                        <div class="title">Contenidos</div>
                        <div class="description">
                            <p>Oh wau some text here</p>
                            <hr>
                            <p>And some text over here</p>
                        </div>
                    </section>

                    <section class="languages">
                        <div class="title">Lenguajes</div>
                        <p>Generalmente, usamos Java porque es el lenguaje en el que la mayor parte de la gente se defiende, pero en el curso se pueden usar también otros lenguajes, eso no es problema. Si Java / IntelliJ no es para ti un problema, será la opción por defecto.</p>
                    </section>

                    <section class="requirements">
                        <div class="title">Requisitos</div>
                        <p>Lo ideal, es que cada persona venga con su portátil y las herramientas de desarrollo ya instaladas. También debe tener instalado Git.</p>
                        <p>Haremos pair programming, por lo que sería buena idea crear un usuario nuevo para el curso, para poder cambiar de unas máquinas a otras sin preocuparse por la privacidad de la cuenta.</p>
                        <p>Si no puedes traer tu portátil, no hay problema, sólo hace falta uno por pareja. No obstante, avísanos antes con antelación para asegurarnos de que contamos con el número mínimo de portátiles necesarios.</p>
                    </section>

                    <section class="who">
                        <div class="title">¿Para quién está pensado?</div>
                        <p>Este es un curso para personas que sepan programar. Fundamentalmente programadores pero también testers que quieran conocer más sobre calidad de código y pruebas automáticas. Lo que hace falta es venir con ganas y la mente abierta. Si nunca has probado TDD antes, te sorprenderá.</p>
                    </section>

                    <section class="where">
                        <div class="title">In-house y en abierto</div>
                        <p>El curso se puede impartir in-house, (cerrado para la empresa que lo contrata), o en abierto. Intentamos impartir una edición en abierto cada trimestre. Suele pasar que las empresas pequeñas envían gente a nuestros cursos en abierto. Si quieres que te avisemos de las próximas ediciones en abierto, por favor rellena este formulario.</p>
                        <p class="unicode">Ten en cuenta que los cursos in-house se realizan una vez nos contrate el cliente. Necesitaremos saber la fecha con más de un mes de antelación para poder cuadrar agendas.</p>
                    </section>
                </div>
                <div class="summary">
                    <div class="open-course">
                        <div class="announcement">Próximas fechas en abierto</div>
                        <div class="dates">28-29 Noviembre</div>
                        <div class="place">Madrid y Barcelona</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photos">
            <div class="photo">
                <img src="/assets/courses/tdd_course_0.png" alt="">
            </div>
            <div class="photo">
                <img src="/assets/courses/tdd_course_1.png" alt="">
            </div>
        </div>

        <div class="testimonials">
            <div class="title">Lo que dicen de nuestro curso</div>
        </div>

        <div class="call-to-action"></div>
    </div>

</body>
</html>
