---
title: pages.training.title
permalink: /cursos/
permalink_en: /trainings/
---

{% include head.html %}

<body>
{% include header.html %}
<main class="training">
    <section class="introduction">
        <div class="text">
            <h1>{% translate pages.training.header %}</h1>
            {% translate pages.training.text %}
        </div>
        <div class="image">
            <!-- TODO: Replace with image from prototype -->
            <img src="/assets/home/mid_picture.png" alt="">
        </div>
    </section>
    <section class="courses">
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.tdd.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.tdd.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.tdd.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/tdd.svg'
            starting_price='490'
            days='2'
            hours='16'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.code_smells_refactoring.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.code_smells_refactoring.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.code_smells_refactoring.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/refactoring.svg'
            starting_price='590'
            days='2.5'
            hours='20'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.changing_legacy.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.changing_legacy.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.changing_legacy.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/legacy.svg'
            starting_price='590'
            days='2.5'
            hours='20'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.ddd.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.ddd.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.ddd.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/ddd.svg'
            starting_price='600'
            days='2'
            hours='16'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.testing.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.testing.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.testing.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/testing-techniques.svg'
            starting_price='590'
            days='5'
            hours='20'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.user_stories.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.user_stories.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.user_stories.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/user-stories.svg'
            starting_price='390'
            days='1'
            hours='12'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.cd_databases.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.cd_databases.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.cd_databases.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/refactoring.svg'
            starting_price='600'
            days='2'
            hours='16'
        %}
        <div class="closing-hexagon">
            <span></span>
        </div>
    </section>
    {% capture title %}{{ site.translations[site.lang].pages.training.contact.title }}{% endcapture %}
    {% capture text %}{{ site.translations[site.lang].pages.training.contact.text }}{% endcapture %}
    {% capture placeholder %}{{ site.translations[site.lang].pages.training.contact.placeholder }}{% endcapture %}
    {%
        include components/call-to-action.html
        title=title
        text=text
        defaultMessage='Sent from the Training page, no message specified'
        messagePlaceHolder=placeholder
        origin='Listado de cursos'
    %}
</main>
{% include footer.html %}
</body>
</html>
