---
title: Codesai
permalink: /cursos/
permalink_en: /courses/
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

    <meta property="og:site_name" content="Codesai">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton:400,400i,700&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika&display=block">
    <link rel='stylesheet' href='/css/ionicons.min.css' />
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/main.css' />

    <script src='{{ site.baseurl_root }}/js/vendor/jquery-3.4.1.slim.min.js'></script>
    <script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
    <script src='{{ site.baseurl_root }}/js/Cookie.js'></script>

    <script>
        function saveCookie() {
            Cookie('codesai').save();
            $('.cookie-message').hide();
        }

        $(document).ready(function() {
            if (Cookie('codesai').exists()) {
                return;
            }
            $('.cookie-message').show();
        });
    </script>

    {% if site.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
</head>
<body>
{% include header.html %}
<main class="training">
    <section class="introduction">
        <div class="text">
            <h1>{% translate pages.training.header %}</h1>
            {% translate pages.training.text %}
        </div>
        <div class="image">
            <!-- TODO: Replace with image from prototype -->
            <img src="/assets/home/mid_picture.png" alt="">
        </div>
    </section>
    <section class="courses">
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.tdd.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.tdd.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.tdd.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/tdd.svg'
            starting_price='450'
            days='2'
            hours='16'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.code_smells_refactoring.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.code_smells_refactoring.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.code_smells_refactoring.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/refactoring.svg'
            starting_price='550'
            days='2.5'
            hours='20'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.ddd.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.ddd.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.ddd.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/ddd.svg'
            starting_price='600'
            days='2'
            hours='16'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.user_stories.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.user_stories.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.user_stories.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/ddd.svg'
            starting_price='290'
            days='1'
            hours='8'
        %}
        {% capture name %}{{ site.translations[site.lang].pages.training.courses.cd_databases.name }}{% endcapture %}
        {% capture description %}{{ site.translations[site.lang].pages.training.courses.cd_databases.description }}{% endcapture %}
        {% capture link %}{{ site.translations[site.lang].pages.training.courses.cd_databases.link }}{% endcapture %}
        {%
            include components/course.html
            name=name
            description=description
            link=link
            logo='/assets/courses/logos/refactoring.svg'
            starting_price='600'
            days='2'
            hours='16'
        %}
        <div class="closing-hexagon">
            <span></span>
        </div>
    </section>
    {% capture title %}{{ site.translations[site.lang].pages.training.contact.title }}{% endcapture %}
    {% capture text %}{{ site.translations[site.lang].pages.training.contact.text }}{% endcapture %}
    {% capture placeholder %}{{ site.translations[site.lang].pages.training.contact.placeholder }}{% endcapture %}
    {%
        include components/call-to-action.html
        title=title
        text=text
        defaultMessage='Sent from the Training page, no message specified'
        messagePlaceHolder=placeholder
        origin='Listado de cursos'
    %}
</main>
{% include footer.html %}
</body>
</html>
