---
title: Curso de Historias de usuario
permalink: /cursos/user-stories/
---

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

    <meta property="og:site_name" content="Codesai">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{% if page.small_image %}{{ site.url | append: '/assets/' | append: page.small_image }}{% else %}{{ site.url | append: '/img/rich_preview_logo.png' }}{% endif %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton:400,400i,700&display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika&display=block">
    <link rel='stylesheet' href='/css/ionicons.min.css' />
    <link rel='stylesheet' href='{{ site.baseurl_root }}/sass/main.css' />

    <script src='{{ site.baseurl_root }}/js/vendor/jquery-3.4.1.slim.min.js'></script>
    <script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
    <script src='{{ site.baseurl_root }}/js/Cookie.js'></script>

    <script>
        function saveCookie() {
            Cookie('codesai').save();
            $('.cookie-message').hide();
        }

        $(document).ready(function() {
            if (Cookie('codesai').exists()) {
                return;
            }
            $('.cookie-message').show();
        });
    </script>

    {% if site.environment == 'production' %}
        {% include analytics.html %}
    {% endif %}

</head>

<body>

    {% include header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">Historias de usuario</div>
                    <div class="course-description">
                        <p>
                            El objetivo de este curso es que los alumnos aprendan
                            cuáles son las partes esenciales de las historias de usuario,
                            identifiquen atributos que las hacen más efectivas y dispongan de un arsenal de técnicas para partirlas.
                        </p>
                        <p>
                            A través de ejemplos y actividades, aprenderemos a entender el concepto de historias de usuario. Asimismo, veremos algunos smells y técnicas para enfrentarnos a su complejidad.
                        </p>
                    </div>

                    <div class="summary mobile">
                        {%
                            include course-summary.html
                            price='400'
                            days='1'
                            contact_link='/cursos/user-stories/#call-to-action'
                        %}
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>Contenidos</div>
                        <div class="description">
                            <div class="daily-agenda">
                                <div class="topics">
                                    <div class="group"><span>1.</span> Introducción</div>
                                    <div class="group"><span>2. </span> Buenas historias de usuario</div>
                                    <div class="subgroup"><span>&bull;</span> INVEST</div>
                                    <div class="subgroup"><span>&bull;</span> Smells</div>
                                    <div class="group"><span>3. </span> Heurísticas para partir historias de usuario</div>
                                    <div class="subgroup"><span>&bull;</span> Heurísticas de alto nivel</div>
                                    <div class="subgroup"><span>&bull;</span> Heurísticas por atributos de calidad</div>
                                    <div class="subgroup"><span>&bull;</span> Heurísticas por experiencia de usuario</div>
                                    <div class="subgroup"><span>&bull;</span> Heurísticas por comportamiento</div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="requirements">
                        <div class="title"><span>// </span>Requisitos</div>
                        <p>No es necesario ningún material.</p>
                    </section>

                    <section class="who">
                        <div class="title"><span>// </span>¿Para quién está pensado?</div>
                        <p>El curso está pensando para cualquier equipo que tenga que enfrentarse a desarrollar en un entorno de entrega de valor continua</p>
                        <p>A diferencia de muchos curso de este estilo, no está pensando únicamente para product owners. El curso ofrece valor para todos los perfiles (técnicos, negocio...), ya que las habilidades y técnicas que se adquieren aplican a todos los niveles</p>
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>In-house</div>
                        <p>El curso se imparte in-house, (cerrado para la empresa que lo contrata).</p>
                        <p class="unicode">Ten en cuenta que los cursos in-house se realizan una vez nos contrate el cliente. Necesitaremos saber la fecha con más de un mes de antelación para poder cuadrar agendas.</p>
                    </section>
                </div>
                <div class="summary desktop">
                    {%
                        include course-summary.html
                        price='400'
                        days='1'
                        contact_link='/cursos/user-stories/#call-to-action'
                    %}
                </div>
            </div>
        </div>

        <div class="photos"></div>

        {% include components/call-to-action.html
            title='¡OK! Me interesa realizar el curso de Historias de usuario'
            text='<p>Si deseas iniciar el proceso de  inscripción o te ha quedado alguna duda sobre este curso, puedes escribirnos a contact@codesai.com o rellenar el formulario de contacto.</p><p>¡Intentaremos responderte con la mayor brevedad posible!</p>'
            defaultMessage='Sent from the Refactoring Course page, no message specified'
            messagePlaceHolder='Me interesaría recibir actualizaciones acerca de los cursos y las próximas ediciones en abierto'
            origin='Curso User Stories'
        %}
    </div>

    {% include footer.html %}

</body>

</html>
