---
title: Curso de Historias de usuario
permalink: /cursos/user-stories/
permalink_en: /courses/user-stories/
---
{% include head.html %}
<body>

    {% include header.html %}

    <div class="course-page">
        <div class="course">

            <div id="course-information" class="information">
                <div class="insights">
                    <div class="course-title">Historias de usuario</div>
                    <div class="course-description">
                        <p>
                            El objetivo de este curso es que los alumnos aprendan
                            cuáles son las partes esenciales de las historias de usuario,
                            identifiquen atributos que las hacen más efectivas y dispongan de un arsenal de técnicas para partirlas.
                        </p>
                        <p>
                            A través de ejemplos y actividades, aprenderemos a entender el concepto de historias de usuario. Asimismo, veremos algunos smells y técnicas para enfrentarnos a su complejidad.
                        </p>
                    </div>

                    <div class="summary mobile">
                        {%
                            include course-summary.html
                            price='290'
                            days='1'
                            hours='8'
                            contact_link='/cursos/user-stories/#call-to-action'
                        %}
                    </div>

                    <section class="contents">
                        <div class="title"><span>// </span>Contenidos</div>
                        <div class="description">
                            <div class="daily-agenda">
                                <div class="topics">
                                    <div class="group"><span>1.</span> Introducción</div>
                                    <div class="group"><span>2. </span> Buenas historias de usuario</div>
                                    <div class="subgroup"><span>&bull;</span> INVEST</div>
                                    <div class="subgroup"><span>&bull;</span> Smells</div>
                                    <div class="group"><span>3. </span> Heurísticas para partir historias de usuario</div>
                                    <div class="subgroup"><span>&bull;</span> Heurísticas de alto nivel</div>
                                    <div class="subgroup"><span>&bull;</span> Heurísticas por atributos de calidad</div>
                                    <div class="subgroup"><span>&bull;</span> Heurísticas por experiencia de usuario</div>
                                    <div class="subgroup"><span>&bull;</span> Heurísticas por comportamiento</div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="who">
                        <div class="title"><span>// </span>¿Para quién está pensado?</div>
                        <p>El curso está pensado para cualquier equipo que tenga que enfrentarse a desarrollar en un entorno de entrega de valor continua</p>
                        <p>A diferencia de muchos cursos de esta temática, no está pensando únicamente para product owners. El curso ofrece valor para todos los perfiles (técnicos, negocio...), ya que las habilidades y técnicas que se adquieren aplican a varios niveles</p>
                    </section>

                    <section class="consulting">
                        <div class="title"><span>// </span>Te ayudamos en tu dominio</div>
                        <p>Despues de hacer el curso podrás aplicar a tu propio contexto lo que has aprendido mediante sesiones especiales en las que trabajaremos con ejemplos a los que te enfrentas a diario (precio y duración de las sesiones a consultar).</p>
                    </section>

                    <section class="where">
                        <div class="title"><span>// </span>In-house</div>
                        <p>El curso se imparte in-house, (cerrado para la empresa que lo contrata).</p>
                        <p class="unicode">Ten en cuenta que los cursos in-house se realizan una vez nos contrate el cliente. Necesitaremos saber la fecha con más de un mes de antelación para poder cuadrar agendas.</p>
                    </section>

                </div>
                <div class="summary desktop">
                    {%
                        include course-summary.html
                        price='290'
                        days='1'
                        hours='8'
                        contact_link='/cursos/user-stories/#call-to-action'
                    %}
                </div>
            </div>
        </div>

        <div class="photos"></div>

        {% include components/call-to-action.html
            title='¡OK! Me interesa realizar el curso de Historias de usuario'
            text='<p>Si deseas iniciar el proceso de  inscripción o te ha quedado alguna duda sobre este curso, puedes escribirnos a contact@codesai.com o rellenar el formulario de contacto.</p><p>¡Intentaremos responderte con la mayor brevedad posible!</p>'
            defaultMessage='Sent from the Refactoring Course page, no message specified'
            messagePlaceHolder='Me interesaría recibir actualizaciones acerca de los cursos y las próximas ediciones en abierto'
            origin='Curso User Stories'
        %}
    </div>

    {% include footer.html %}

</body>

</html>
