<section id="collaborator">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-custom">
                    Colaboradores
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-1">
                <div class="collaborator-member">
                    <div class="photo">
                        <div class="desktop">
                            <span>
                                <img src="/img/collaborators/codium-icon-black.png" alt="codium">
                            </span>
                        </div>
                        <div class="mobile">
                            <img src="/img/collaborators/codium-icon-black.png" alt="codium">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>