<section id="collaborator">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-custom">
                    Colaboradores
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-1">
                <div class="collaborator-member">
                    <div class="photo">
                        <div class="desktop">
                            <span>
                                <img src="/img/team/carlos_ble.jpg" alt="carlos_ble">
                            </span>
                        </div>
                        <div class="mobile">
                            <img src="/img/team/carlos_ble.jpg" alt="carlos_ble" >
                        </div>
                    </div>
                    <div class="name">Carlos Blé</div>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-1">
                <div class="collaborator-member">
                    <div class="photo">
                        <div class="desktop">
                            <span>
                                <img src="/img/team/luis_rovirosa.jpg" alt="luis_rovirosa">
                            </span>
                        </div>
                        <div class="mobile">
                            <img src="/img/team/luis_rovirosa.jpg" alt="luis_rovirosa">
                        </div>
                        <div class="bio">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#about-member-modal" data-member="luis_rovirosa">About</button>
                        </div>
                    </div>
                    <div class="name">Luis Rovirosa</div>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </div>
</section>