<div class="cookie-message">
    <p>
        El sitio web https://www.codesai.com/ utiliza cookies propias y de terceros para recopilar información que ayuda a optimizar su visita a sus páginas web. No se utilizarán las cookies para recoger información de carácter personal. Usted puede permitir su uso o rechazarlo, también puede cambiar su configuración siempre que lo desee. Encontrará más información en nuestra <a href="/cookie-policy">Política de Cookies</a>.
    </p>
    <button class="btn btn-warning" onclick="saveCookie();">Aceptar</button>
</div>