<div class="padded-area">
    {% if include.open_edition_dates %}
    <div class="open-course">
        <h2 class="announcement">Próximas fechas en abierto</h2>
        <p class="dates">{{ include.open_edition_dates }}</p>
        <p class="place">{{ include.open_edition_place }}</p>
    </div>
    {% endif %}
    <div class="hint">
        <div class="icon">
            <img src="/assets/icons/clock.svg" alt="course schedule">
        </div>
        <div class="info">
            <div class="highlight">2 días intensivos</div>
            <div class="detail">Jornada completa</div>
        </div>
    </div>

    <div class="hint">
        <div class="icon">
            <img src="/assets/icons/euro.svg" alt="course pricing">
        </div>
        <div class="info">
            <div class="highlight">In house: {{ include.price }}€ / <span>persona</span></div>
            <div class="detail">(I.V.A no incluido)</div>
            <div class="highlight">En abierto: {{ include.price }}€ / <span>persona</span></div>
            <div class="detail">(I.V.A no incluido.{% if include.special_discount %} {{ include.special_discount }}{% endif %})</div>
        </div>
    </div>
    <a href="{{ include.contact_link }}">
        {% include components/codesai-button.html content='¡Me interesa!' %}
    </a>
</div>