<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <img src="/img/logo.png">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="contact">
                    <i class="ion-android-mail"></i>
                    <a href="mailto:contact@codesai.com">contact@codesai.com</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="social">
                    <a href="https://twitter.com/codesaidev"><i class="ion-social-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/codesai"><i class="ion-social-linkedin"></i></a>
                    <a href="{{ site.atom_url }}/atom.xml"><i class="ion-social-rss"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>