<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact">
                    Email: contact@codesai.com
                </div>
            </div>
            <div class="col-md-4">
                <a href="https://twitter.com/codesaidev"><i class="ion-social-twitter"></i></a>
                <a href="https://www.linkedin.com/company/codesai"><i class="ion-social-linkedin"></i></a>
                <a href="{{ site.atom_url }}/atom.xml"><i class="ion-social-rss"></i></a>
            </div>
        </div>
    </div>
</footer>