
<header>
    <div class="logo">
        <a href="/">
            <img src="{{ site.baseurl_root }}/assets/logos/codesai_logo_green_white.svg" alt="Codesai logo">
        </a>
    </div>
    <div class="links">
        <a href="/#team"><span>Equipo</span></a>
        <a href="/clients"><span>Clientes</span></a>
        <a href="/curso-de-tdd"><span>Formación</span></a>
        <a href="/publications"><span>Publicaciones</span></a>
        <a href="/#call-to-action"><span>Contacto</span></a>
    </div>
    <div id="mobile-menu-trigger" class="mobile-menu-icon">
        <img src="/assets/icons/mobile-menu-icon.svg" alt="mobile menu icon">
    </div>
</header>

<div id="mobile-menu" class="mobile-links">
    <a href="/#team"><span>Equipo</span></a>
    <a href="/clients"><span>Clientes</span></a>
    <a href="/curso-de-tdd"><span>Formación</span></a>
    <a href="/publications"><span>Publicaciones</span></a>
    <a href="/#call-to-action"><span>Contacto</span></a>
</div>

<script>
    const mobileMenuTrigger = document.getElementById("mobile-menu-trigger");
    const mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenuTrigger) {
        mobileMenuTrigger.addEventListener("click", _ => {
            if (mobileMenu) {
                mobileMenu.style.display = mobileMenu.style.display === "flex" ? "none" : "flex";
            }
        });
    }
</script>