
<header>
    <div class="logo">
        <a href="{% translate urls.home %}">
            <img src="{{ site.baseurl_root }}/assets/logos/codesai_logo_green_white.svg" alt="Codesai logo">
        </a>
    </div>
    <div class="links">
        <a href="{% translate urls.team %}"><span>{% translate header.links.team %}</span></a>
        <a href="{% translate urls.clients %}"><span>{% translate header.links.clients %}</span></a>
        <a href="{% translate urls.courses %}"><span>{% translate header.links.courses %}</span></a>
        <a href="{% translate urls.blog %}"><span>{% translate header.links.blog %}</span></a>
        <a href="{% translate urls.contact %}"><span>{% translate header.links.contact %}</span></a>
    </div>
    <div id="mobile-menu-trigger" class="mobile-menu-icon">
        <img src="/assets/icons/mobile-menu-icon.svg" alt="mobile menu icon">
    </div>
</header>

<div id="mobile-menu" class="mobile-links">
    <a href="{% translate urls.team %}"><span>{% translate header.links.team %}</span></a>
    <a href="{% translate urls.clients %}"><span>{% translate header.links.clients %}</span></a>
    <a href="{% translate urls.courses %}"><span>{% translate header.links.courses %}</span></a>
    <a href="{% translate urls.blog %}"><span>{% translate header.links.blog %}</span></a>
    <a href="{% translate urls.contact %}"><span>{% translate header.links.contact %}</span></a>
</div>

<script>
    const mobileMenuTrigger = document.getElementById("mobile-menu-trigger");
    const mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenuTrigger) {
        mobileMenuTrigger.addEventListener("click", _ => {
            if (mobileMenu) {
                mobileMenu.style.display = mobileMenu.style.display === "flex" ? "none" : "flex";
            }
        });
    }
</script>