
<header>
    <div class="logo">
        <a href="{% translate urls.home %}">
            <img src="{{ site.baseurl_root }}/assets/logos/codesai_logo_green_white.svg" alt="Codesai logo">
        </a>
    </div>
    <div class="links">
        <a href="{% translate urls.team %}"><span>{% translate header.links.team %}</span></a>
        <a href="{% translate urls.clients %}"><span>{% translate header.links.clients %}</span></a>
        <a href="{% translate urls.courses %}"><span>{% translate header.links.courses %}</span></a>
        <a href="{% translate urls.blog %}"><span>{% translate header.links.blog %}</span></a>
        <a href="{% translate urls.contact %}"><span>{% translate header.links.contact %}</span></a>
    </div>
    <div id="mobile-menu-trigger" class="mobile-menu-icon">
        <img src="/assets/icons/mobile-menu-icon.svg" alt="mobile menu icon">
    </div>

    <div id="cookie-banner" class="cookie-banner">
        <div class="message">{% translate header.cookie_banner.message %} <a href="{% translate urls.cookie_policy %}">{% translate header.cookie_banner.policy %}</a>.</div>
        <div class="actions">
            <button class="accept">{% translate header.cookie_banner.accept %}</button>
            <button class="reject">{% translate header.cookie_banner.reject %}</button>
        </div>
    </div>
</header>

<div id="mobile-menu" class="mobile-links">
    <a href="{% translate urls.team %}"><span>{% translate header.links.team %}</span></a>
    <a href="{% translate urls.clients %}"><span>{% translate header.links.clients %}</span></a>
    <a href="{% translate urls.courses %}"><span>{% translate header.links.courses %}</span></a>
    <a href="{% translate urls.blog %}"><span>{% translate header.links.blog %}</span></a>
    <a href="{% translate urls.contact %}"><span>{% translate header.links.contact %}</span></a>
</div>

<div class="banner-announcement">
    <p class="desktop-text">
        Curso abierto de Test Driven Development 27, 28, 29 y 30 de noviembre de 10.00 a 14.00 (peninsular) en remoto
    </p>
    <a class="mobile-text" href="/curso-de-tdd/#call-to-action">
        Curso abierto de Test Driven Development 27, 28, 29 y 30 de noviembre de 10.00 a 14.00 (peninsular) en remoto
    </a>
    <a href="/curso-de-tdd/#call-to-action" class="desktop-link">
        {% include components/codesai-button.html content='¡Me interesa!' %}
    </a>
</div>

<script>
    const mobileMenuTrigger = document.getElementById("mobile-menu-trigger");
    const mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenuTrigger) {
        mobileMenuTrigger.addEventListener("click", _ => {
            if (mobileMenu) {
                mobileMenu.style.display = mobileMenu.style.display === "flex" ? "none" : "flex";
            }
        });
    }

    (function setupCookiePolicyBanner() {
        const cookieBanner = document.getElementById("cookie-banner");
        const acceptButton = document.getElementById("cookie-banner").querySelector(".accept");
        const rejectButton = document.getElementById("cookie-banner").querySelector(".reject");

        if (cookieBanner && acceptButton && rejectButton) {
            const cookiePolicyOption = Cookie("codesai_cookie_policy");
            if (cookiePolicyOption.exists() && cookiePolicyOption.isAValidCookiePolicyOption()) return;

            acceptButton.addEventListener("click", _ => {
                cookiePolicyOption.saveCookiesAccepted();
                cookieBanner.classList.remove("displayed");
            });
            rejectButton.addEventListener("click", _ => {
                cookiePolicyOption.saveCookiesRejected();
                cookieBanner.classList.remove("displayed");
            })

            cookieBanner.classList.add("displayed");
        }
    })();
</script>