<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="Somos un equipo versado en Extreme Programming, ofrecemos desarrollo de software, formación, asesoramiento y apoyo en proyectos.">

<meta property="og:site_name" content="Codesai">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="XP, desarrollo de software, formación, asesoramiento y apoyo.">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:image" content="{{ site.url | append: '/img/rich_preview_logo.png' }}">


<!-- CSS -->
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/owl.carousel.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/bootstrap.min.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/font-awesome.min.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/airspace.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/style.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/ionicons.min.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/animate.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/responsive.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/syntax.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/blog.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/clients.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/404.css' />
<link rel='stylesheet' href='{{ site.baseurl_root }}/css/categories.css' />

<!-- Js -->
<script src='{{ site.baseurl_root }}/js/vendor/jquery-1.10.2.min.js'></script>
<script src='{{ site.baseurl_root }}/js/bootstrap.min.js'></script>
<script src='{{ site.baseurl_root }}/js/owl.carousel.min.js'></script>
<script src='{{ site.baseurl_root }}/js/owl.carousel.min.js'></script>
<script src='{{ site.baseurl_root }}/js/plugins.js'></script>
<script src='{{ site.baseurl_root }}/js/min/waypoints.min.js'></script>
<script src='{{ site.baseurl_root }}/js/jquery.counterup.js'></script>
<script src='{{ site.baseurl_root }}/js/js-cookie.js'></script>
<script src='{{ site.baseurl_root }}/js/Cookie.js'></script>
<script src='{{ site.baseurl_root }}/js/main.js'></script>

<script>
function saveCookie() {
  Cookie('codesai').save();
  $('.cookie-message').hide();
}

$(document).ready(function() {
  if (Cookie('codesai').exists()) {
    return;
  }
  $('.cookie-message').show();
});
</script>


{% if site.environment == 'production' %}
  {% include analytics.html %}
{% endif %}
