
<footer>
    <div class="logo">
        <a href="/">
            <img src="{{ site.baseurl_root }}/assets/logos/codesai_logo_green_white.svg" alt="Codesai logo">
        </a>
    </div>
    <div class="links">
        <div class="social">
            <a href="https://twitter.com/codesaidev">
                <i class="ion-social-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/codesai">
                <i class="ion-social-linkedin"></i>
            </a>
            <a href="/atom.xml">
                <i class="ion-social-rss"></i>
            </a>
        </div>
        <div class="legal">
            <a href="/legal-advertisement">Aviso Legal</a>
            <span>&bull;</span>
            <a href="/cookie-policy">Política de Cookies</a>
            <span>&bull;</span>
            <a href="/privacy-policy">Política de Privacidad</a>
        </div>
    </div>
</footer>