<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-custom">
                    Partners
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <a href="http://www.kairosds.com/">
                        <img src="/img/partners/kairos.svg" alt="Kairos">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="logo">
                    <a href="http://www.seasidev.com/">
                        <img src="/img/partners/seasidev.svg" alt="Seasidev">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>