<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-custom">
                    Servicios
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-4">
                <div class="service-item">
                    <i class="ion-ios-gear"></i>
                    <h4>Desarrollo de Software</h4>
                    <p>Analizamos el problema para dar con el producto adecuado. Después, lo implementamos adecuadamente. Escribimos software de alta calidad, fácil de adaptar ante requisitos cambiantes, barato de mantener. Con alta cobertura de tests de calidad. Mantener nuestro código nos hace sentir como si estuviéramos siempre ante un Greenfield Project.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="service-item">
                    <i class="ion-ribbon-b"></i>
                    <h4>Formación</h4>
                    <p>Impartimos formación especializada en TDD, BDD, Testing, Refactoring, DDD, JavaScript y también a la medida de nuestros clientes. Cientos de desarrolladores se han formado con nosotros y recomiendan nuestros cursos. Consulta la información del curso de TDD y XP en el apartado de <a href="/curso-de-tdd">Formación</a>.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="service-item">
                    <i class="ion-ios-pulse-strong"></i>
                    <h4>Asesoramiento y apoyo</h4>
                    <p>Te ayudamos a mejorar, a desatascar el proyecto, a hacer equipo. Te ayudamos a solucionar problemas, a escribir mejor código, a motivar al equipo , a evitar desperdicio, a definir requisitos más claros. Con nosotros llegarás más lejos.</p>
                </div>
            </div>
        </div>
    </div>
</section>