<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animated fadeInUp">{% translate slider.moto %}</h1>
                    <div class="large-display">
                        <p class="animated fadeInUp">Somos un equipo de alto rendimiento que busca la mejora continua</br>de sí mismo y de su entorno</p>
                    </div>
                    <div class="small-display">
                        <p class="animated fadeInUp">Somos un equipo de alto rendimiento que busca la mejora continua de sí mismo y de su entorno</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>