<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-custom">
                    Nuestros valores
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    <div class="value-box">
                        <div class="title">Actitud</div>
                        <div class="underline"></div>
                        <p>Pasión</p>
                        <p>Profesionalidad y pragmatismo</p>
                        <p>Aprendizaje constante</p>
                        <p>Respeto</p>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-5">
                    <div class="value-box">
                        <div class="title">Equipo</div>
                        <div class="underline"></div>
                        <p>Diversidad y transparencia</p>
                        <p>Anteponer el colectivo</p>
                        <p>Pertenencia y reconocimiento</p>
                        <p>Estabilidad y sostenibilidad</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    <div class="value-box">
                        <div class="title">Comunidad</div>
                        <div class="underline"></div>
                        <p>Compartir conocimiento y motivación</p>
                        <p>Contribuir a la evolución profesional del sector</p>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-5">
                    <div class="value-box">
                        <div class="title">Ética</div>
                        <div class="underline"></div>
                        <p>Responsabilidad, integridad y conciencia cívica</p>
                        <p>Aportar al bien común</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>