<div class="row">
    {% include published-video.html title="Aprender a distinguir el problema de las soluciones" speakers="Carlos Blé" src="https://www.youtube.com/embed/IqUo9kCWQrw" %}
    
    {% include published-video.html title="El camino del aprendizaje" speakers="Modesto San Juan y Ronny Ancorini" src="https://www.youtube.com/embed/azVsa8XQp8c" %}

    {% include published-video.html title="Funciones en Clojure" speakers="Manuel Rivero" src="https://www.youtube.com/embed/HmAU-z5dPS8" %}

    {% include published-video.html title="Comunidades de necesidad vs comunidades de soluciones" speakers="Antonio de la Torre" src="https://www.youtube.com/embed/jzV7pMshyic" %}

    {% include published-video.html title="OOP &amp; Connascence" speakers="Alfredo Casado" src="https://www.youtube.com/embed/bIr5fPom7B4" %}

    {% include published-video.html title="Destructuring en Clojure" speakers="Manuel Rivero" src="https://www.youtube.com/embed/qMcjufX8czs" %}

    {% include published-video.html title="Transformation Priority Premise with JavaScript" speakers="Carlos Blé" src="https://www.youtube.com/embed/D2gFmSUeA3w" %}

    {% include published-video.html title="Refactoring to functions (JavaScript Episode 2)" speakers="Carlos Blé" src="https://www.youtube.com/embed/ZFDeJA2emg4" %}

    {% include published-video.html title="Cards Kata (JavaScript TDD Episode 1)" speakers="Carlos Blé" src="https://www.youtube.com/embed/C8Ea80oOumg" %}

    {% include published-video.html title="Implementando algoritmos con TDD" speakers="Carlos Blé" src="https://www.youtube.com/embed/vL78Cm5BJBU" %}
</div>
