<div class="row">
    {% include published-video.html title="El camino del aprendizaje" speakers="Modesto San Juan y Ronny Ancorini" src="https://www.youtube.com/embed/azVsa8XQp8c" %}
   
    {% include published-video.html title="Funciones en Clojure" speakers="Manuel Rivero" src="https://www.youtube.com/embed/HmAU-z5dPS8" %}
</div>

<div class="row">
    {% include published-video.html title="Comunidades de necesidad vs comunidades de soluciones" speakers="Antonio de la Torre" src="https://www.youtube.com/embed/jzV7pMshyic" %}

    {% include published-video.html title="OOP &amp; Connascence" speakers="Alfredo Casado" src="https://www.youtube.com/embed/bIr5fPom7B4" %}
</div>

<div class="row">
    {% include published-video.html title="Destructuring en Clojure" speakers="Manuel Rivero" src="https://www.youtube.com/embed/qMcjufX8czs" %}
    
</div>
