<div class="padded-area">
    <div class="open-course">
        <div class="announcement">Próximas fechas en abierto</div>
        <div class="dates">28-29 Noviembre</div>
        <div class="place">Madrid y Barcelona</div>
    </div>

    <div class="hint">
        <div class="icon">
            <img src="/assets/icons/clock.svg" alt="course schedule">
        </div>
        <div class="info">
            <div class="highlight">2 días intensivos</div>
            <div class="detail">Jornada completa</div>
        </div>
    </div>

    <div class="hint">
        <div class="icon">
            <img src="/assets/icons/euro.svg" alt="course pricing">
        </div>
        <div class="info">
            <div class="highlight">In house: 450€ / <span>persona</span></div>
            <div class="detail">(I.V.A no incluido)</div>
            <div class="highlight">En abierto: 390€ / <span>persona</span></div>
            <div class="detail">(I.V.A no incluido. <span>50% de descuento</span> para colectivos poco representados en la tecnología)</div>
        </div>
    </div>

    <div class="hint">
        <div class="icon">
            <img src="/assets/icons/download.svg" alt="download course program">
        </div>
        <div class="info download">
            <div class="highlight">Descargar programa</div>
        </div>
    </div>

    <div class="codesai-button">
        <div class="content">¡Me interesa!</div>
    </div>
</div>