<div class="padded-area">
    <div class="open-course">
        <h2 class="announcement">Próximas fechas en abierto</h2>
        <p class="dates">17-18 diciembre</p>
        <p class="place">Remoto</p>
    </div>
    <div class="hint">
        <div class="icon">
            <img src="/assets/icons/clock.svg" alt="course schedule">
        </div>
        <div class="info">
            <div class="highlight">2 días intensivos</div>
            <div class="detail">Jornada completa</div>
        </div>
    </div>

    <div class="hint">
        <div class="icon">
            <img src="/assets/icons/euro.svg" alt="course pricing">
        </div>
        <div class="info">
            <div class="highlight">In house: 450€ / <span>persona</span></div>
            <div class="detail">(I.V.A no incluido)</div>
            <div class="highlight">En abierto: 450€ / <span>persona</span></div>
            <div class="detail">(I.V.A no incluido. <span>50% de descuento</span> para colectivos poco representados en la tecnología)</div>
        </div>
    </div>
    <a href="#call-to-action">
        {% include components/codesai-button.html content='¡Me interesa!' %}
    </a>
</div>