
.codesai-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  background-color: black;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    // Chrome style outline
    outline-offset: -2px;
    outline: rgb(77, 144, 254) auto 5px;
  }

  .content {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: white;
    text-align: center;
  }

  .arrow {
    margin-left: 0.5rem;
    width: 16px;
  }
}


.team-card {
  margin: 11px;
  width: 292px;
  padding-bottom: 0.66rem;
  border-radius: 10px;
  background-color: $blueish-green;
  overflow: hidden;

  .details {
    display: flex;
    position: relative;
    min-height: 80px;

    .photo {
      position: absolute;
      z-index: 1;
      // solves a small buggy rendering issue where some border is visible
      left: -1px;
      top: -1px;

      img {
        width: 120px;
        height: 100px;
        object-fit: cover;
        clip-path: url(#member-photo-clip-path);
      }
    }

    .name {
      align-self: center;
      padding: 0 0.66rem 0 132px;
      font-family: $lekton;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.15;
      color: white;
    }
  }

  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 0 0.66rem;
    padding: 1rem 1rem 0 1rem;
    border-radius: 8px;
    background-color: white;

    .social-links {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      height: 78px;

      .icons {
        position: absolute;
        bottom: 10px;

        a img {
          margin: 0 5px;
          padding: 3px;
        }
      }
    }
  }
}