
.codesai-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  background-color: black;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    // Chrome style outline
    outline-offset: -2px;
    outline: rgb(77, 144, 254) auto 5px;
  }

  .content {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: white;
    text-align: center;
  }

  .arrow {
    margin-left: 0.5rem;
    width: 16px;
  }
}

.team-card {
  display: flex;
  background-color: $blueish-green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 3rem;
  align-items: center;
  padding: 1.5rem 0;

  .member_img {
    padding: 0 1.5rem;

    img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      width: 200px;
      height: auto;
      clip-path: url(#teamMask);
      -webkit-clip-path: url(#teamMask);

    }
  }

  .member_info {
    padding-right: 2rem;

    h4 {
      font-size: 2rem;
      color: #fff;
      font-weight: 700;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .social {
    display: flex;
    z-index: 10000;
    flex-direction: column;
    padding: 1.5rem 1rem 1.5rem 2rem;
    box-sizing: border-box;
    position: relative;

    &:before {
      content: '';
      background: url(/assets/shapes/back_member_rrss.svg) no-repeat left center;
      height: 200px;
      width: 72px;
      position: absolute;
      z-index: -1;
      display: block;
      right: 0;
      top: -10px;
    }

    li a {
      width: 24px;
      height: 24px;
      display: block;
      margin: .5rem auto;
    }
  }
}
