
.codesai-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  background-color: black;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    // Chrome style outline
    outline-offset: -2px;
    outline: rgb(77, 144, 254) auto 5px;
  }

  .content {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: white;
    text-align: center;
  }

  .arrow {
    margin-left: 0.5rem;
    width: 16px;
  }
}