
header {
  $header-height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  background-color: $blueish-gray;

  @media screen and (max-width: $max-width-breakpoint) {
    margin-bottom: 0;
  }

  .logo {
    margin-left: 1.5rem;
    height: 66%;

    img {
      height: 100%;
    }
  }

  .links {
    font-family: $lekton;
    margin-right: 2rem;

    @media screen and (max-width: $max-width-breakpoint) {
      display: none;
    }

    a span {
      padding: 0.25rem 0.5rem;
      color: white;
      font-size: 0.9rem;
      font-weight: bold;
      letter-spacing: 0.18rem;
      text-transform: uppercase;
      transition: color 0.1s ease-in;

      &:hover {
        color: $blueish-green;
      }
    }
  }

  .mobile-menu-icon {
    display: none;
    margin-right: 1.5rem;
    width: 28px;
    height: 28px;

    @media screen and (max-width: $max-width-breakpoint) {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  .cookie-banner {
    font-family: $lekton;
    display: none;
    position: fixed;
    top: calc(#{$header-height} + 16px);
    right: 0;
    padding: 16px 32px;
    width: 320px;
    max-width: 100%;
    font-size: pxToRem(14);
    color: white;
    background-color: $blueish-gray;
    border-radius: 2px 0 0 2px;
    z-index: 999999;

    &.displayed {
      display: block;
    }

    .message {
      a {
        text-decoration: none;
        color: $blueish-green;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      margin-top: 16px;

      button + button {
        margin-left: 16px;
      }

      button {
        font-family: $lekton;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100px;
        height: 32px;
        font-size: pxToRem(14);
        border: none;
        border-radius: 2px;
        color: white;

        &.accept {
          background-color: hsl(170, 80%, 40%);
        }

        &.reject {
          background-color: hsl(33, 45%, 35%);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.mobile-links {
  font-family: $lekton;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  background-color: $blueish-gray;

  a {
    padding: 1rem 1.5rem;
  }

  a span {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
    color: white;
    transition: color 0.1s ease-in;

    &:hover {
      color: $blueish-green;
    }
  }
}

.banner-announcement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 48px;
  height: 62px;
  font-family: $lekton;
  background-color: #EDF7F5;
  z-index: 99999;

  .codesai-button {
    height: 40px;
  }

  .desktop-text {
    margin: 0;
    font-size: pxToRem(20);
  }

  .mobile-text {
    font-size: pxToRem(16);
    display: none;

    &:visited {
      color: $blueish-green;
    }
  }

  @media screen and (max-width: $max-width-breakpoint) {

    .desktop-text,
    .desktop-link {
      display: none;
    }

    .mobile-text {
      display: block;
    }
  }
}
