
.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2.section-title {
    font-family: $lekton;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    width: 100%;
    background-color: $blueish-green;

    div {
      font-family: $lekton;
      font-size: 1.5rem;

      h1 {
        margin: 0;
        font-size: 2.75rem;
        line-height: 4rem;
      }

      span {
        color: white;
        font-weight: bolder;
        margin-right: 0.6rem;
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-width: $max-page-width;
    margin-bottom: 3rem;

    .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .text {
        padding: 3rem 2rem 2rem 0;

        p {
          margin-top: 0;
          font-size: 1.1rem;
          line-height: 1.6;
        }
      }

      .image {

        img {
          width: 256px;
        }
      }
    }

    // TODO client logos in SVG or PNG? to preserve quality as in Figma
    // TODO review ManuT's feedback on the tdd course page
    .clients {

      .trusted-by {
        font-family: $lekton;
        font-size: 1.6rem;
        font-weight: bold;
        color: $blueish-green;
      }

      div {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        img {
          margin: 1rem 1.5rem;
        }
      }
    }
  }

  .services {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: $max-page-width;
    padding: 0 1rem;
    margin-bottom: 3rem;

    .catalogue {
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);

      .section {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        justify-content: space-between;
        margin: 1.25rem 0;
        padding: 0 1.75rem;
        border-right: 1px dotted $blueish-green;

        &:last-child {
          border-right: none;
        }

        .info {

          .type {
            font-family: $lekton;
            font-size: 2rem;
            font-weight: bolder;
            line-height: 1.15;
            margin-bottom: 0.5rem;
          }

          .codesai-button {
            .content {
              font-size: 1rem;
            }
          }
        }

        a {
          margin-top: 1rem;
        }

        h2 {
          margin-top: 0;
        }

        .codesai-button {
          display: flex;
        }
      }
    }
  }
}

