
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h2.section-title {
    font-family: $lekton;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0.5rem 0;

    @media screen and (max-width: $max-width-breakpoint) {
      text-align: center;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    width: 100%;
    background-color: $blueish-green;

    div {
      font-family: $lekton;
      font-size: 1.5rem;

      h1 {
        margin: 0;
        font-size: 2.75rem;
        line-height: 4rem;
      }

      span {
        color: white;
        font-weight: bolder;
        margin-right: 0.6rem;
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    max-width: $max-page-width;
    margin-bottom: 3rem;

    .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1rem;

      @media screen and (max-width: $max-width-breakpoint) {
        flex-direction: column;
      }

      .text {
        padding: 3rem 2rem 2rem 0;

        @media screen and (max-width: $max-width-breakpoint) {
          order: 2;
          padding: 2rem 0;
        }

        p {
          margin-top: 0;
          font-size: 1.1rem;
          line-height: 1.6;
        }
      }

      .image {

        @media screen and (max-width: $max-width-breakpoint) {
          display: flex;
          justify-content: center;
          order: 1;
        }

        img {
          max-width: 320px;
          margin-top: -41px;

          @media screen and (max-width: $max-width-breakpoint) {
            max-width: 280px;
          }
        }
      }
    }

    // TODO client logos in SVG or PNG? to preserve quality as in Figma
    // TODO review ManuT's feedback on the tdd course page
    .clients {
      @media screen and (max-width: $max-width-breakpoint) {
        margin: 0 1rem;
      }
      .trusted-by {
        font-family: $lekton;
        background-color: $blueish-green;
        display: inline-block;
        color: white;
        margin: 0;
        padding: 0.5rem 1rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }

      div {
        display: flex;
        flex-flow: row wrap;
        font-family: $assistant;
        background-color: #EDF7F5;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        border-radius: 0 10px 10px 10px;

        @media screen and (max-width: $max-width-breakpoint) {
          justify-content: center;
          border-radius: 0 0 10px 10px;
        }

        img {
          margin: 1rem;

          @media screen and (max-width: $max-width-breakpoint) {
            max-width: 224px;
          }
        }
      }
    }
  }

  .services {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: $max-page-width;
    padding: 0 1rem;
    margin-bottom: 4rem;

    @media screen and (max-width: $max-width-breakpoint) {
      max-width: 100%;
      width: 100%;
      padding: 0;
      margin-top: 2rem;
    }

    .section-title {
      margin: 0 0 1rem 0;
    }

    .catalogue {
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;

      @media screen and (max-width: $max-width-breakpoint) {
        // If overflow-x & y have different values, it is computed causing scroll if one is visible and the other auto
        overflow: visible;
        box-shadow: none;
      }

      .shape {
        position: absolute;
        z-index: -1;

        &.first {
          left: -13px;
          top: -45px;
          transform: rotate(-14deg) scale(1.5);

          @media screen and (max-width: $max-width-breakpoint) {
            left: -96px;
            top: -65px;
            transform: rotate(-14deg) scale(2, 1.8);
          }
        }

        &.second {
          left: 406px;
          top: -94px;
          transform: rotate(165deg) scale(1.6, 2);

          @media screen and (max-width: $max-width-breakpoint) {
            right: -88px;
            left: unset;
            top: 444px;
            transform: rotate(67deg) scale(1.6, 2);
          }
        }

        &.third {
          right: 10px;
          top: -58px;
          transform: rotate(9deg) scale(1.5);

          @media screen and (max-width: $max-width-breakpoint) {
            left: -103px;
            top: unset;
            transform: rotate(-45deg) scale(2, 2.2);
            bottom: -92px;
          }
        }
      }

      @media screen and (max-width: $max-width-breakpoint) {
        flex-direction: column;
        width: 100%;
        border-radius: unset;
      }

      .section {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        justify-content: space-between;
        margin: 1.25rem 0;
        padding: 0 1.75rem;
        font-size: 1.1rem;
        border-right: 1px dotted $blueish-green;

        @media screen and (max-width: $max-width-breakpoint) {
          border-right: unset;
        }

        &:last-child {
          border-right: none;
        }

        .info {
          .type {
            font-family: $lekton;
            font-size: 2rem;
            font-weight: bolder;
            line-height: 1.15;
            margin-bottom: 0.5rem;
          }

          p {
            img {
              margin-right: 0.5rem;
            }
          }

          .codesai-button {
            .content {
              font-size: 1rem;
            }
          }
        }

        a {
          margin-top: 1rem;
        }

        h2 {
          margin-top: 0;
        }

        .codesai-button {
          display: flex;
        }
      }
    }
  }

  .courses {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    max-width: $max-page-width;
    margin-bottom: 4rem;

    @media screen and (max-width: $max-width-breakpoint) {
      flex-direction: column;
    }

    .section-title {
      margin: 0 0 1rem 0;
      line-height: 1.25;

      &.mobile {
        display: none;

        @media screen and (max-width: $max-width-breakpoint) {
          text-align: unset;
          display: block;
        }
      }

      &.desktop {
        @media screen and (max-width: $max-width-breakpoint) {
          display: none;
        }
      }
    }

    .image {

      @media screen and (max-width: $max-width-breakpoint) {
        display: flex;
        justify-content: center;
      }

      img {
        margin-top: 1.5rem;
        max-width: 320px;

        @media screen and (max-width: $max-width-breakpoint) {
          margin: 0.5rem 0 1rem 0;
          max-width: 280px;
        }
      }
    }

    .description {
      padding-left: 2rem;

      @media screen and (max-width: $max-width-breakpoint) {
        padding-left: 0;
      }

      p {
        margin-top: 0;
        font-size: 1.1rem;
        line-height: 1.6;
      }

      .button {
        margin-top: 0.5rem;

        @media screen and (max-width: $max-width-breakpoint) {
          display: flex;
          justify-content: center;
        }

        .codesai-button {
          width: 280px;
        }
      }
    }
  }

  .team {
    width: 100%;
    max-width: $max-page-width;
    margin-bottom: 4rem;

    .team_mask{
      width: 0;
      height: 0;
    }

    .section-title {
      text-align: center;
    }

    .team-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      @media screen and (max-width: $max-width-breakpoint) {
        margin: 0 auto;
      }
    }
  }

  .blog {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
    max-width: $max-page-width;
    margin-bottom: 4rem;

    .codesai-button {
      width: 280px;
    }

    .posts {
      display: flex;
      flex-direction: row;
      margin: 0.5rem 0;

      @media screen and (max-width: $max-width-breakpoint) {
        flex-direction: column;
      }

      a {
        text-decoration: none;
        color: black;
      }

      .post {
        flex: 1 1 0;
        margin: 0 0.5rem;
        text-align: start;
        padding: 0.5rem;
        border-radius: 20px;

        &:hover {
          background-color: $blueish-green;
          opacity: 0.85;
          transition: 0.5s;
          transform: scale(1.05);
        }

        h3 {
          margin: 0;
          font-family: $lekton;
          text-decoration: underline;
          text-decoration-color: $blueish-green;
        }

        p {
          color: $blueish-gray;
          margin: 0.5rem 0;
        }

        img {
          width: 100%;
          height: 180px;
          border-radius: 20px;
        }
      }
    }
  }

  .collaborators {
    width: 100%;
    max-width: $max-page-width;
    margin-bottom: 4rem;

    .section-title {
      text-align: center;
    }

    .collaborator-cards {
      display: flex;
      justify-content: center;

      .collaborator-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        margin: 0 1rem;

        .photo {
          position: relative;
          width: 150px;
          height: calc(150px * 1.111);
          clip-path: url(#hexagonalMask);
          filter: url(#greenOverlayFilter);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .name {
          font-size: 1.125rem;
          font-weight: bold;
          margin: 1rem 0 0.5rem;
        }

        @media screen and (max-width: $max-width-breakpoint) {
          flex-direction: column;
        }
      }
    }
  }

  .call-to-action-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $blueish-green;

    .call-to-action {
      display: flex;
      margin: 3rem 1rem;
      max-width: $max-page-width;

      @media screen and (max-width: $max-width-breakpoint) {
        flex-direction: column;
        max-width: 560px;
      }

      .message {
        flex-basis: 50%;
        padding-right: 1.5rem;

        @media screen and (max-width: $max-width-breakpoint) {
          flex-basis: 100%;
          padding-right: 0;
        }

        .highlight {
          font-family: $lekton;
          margin-bottom: 1rem;
          font-size: 2.2rem;
          line-height: 1.2;
          color: white;

          @media screen and (max-width: $max-width-breakpoint) {
            font-size: 1.75rem;
          }
        }

        p {
          margin: 0 0 0.5rem;
          font-size: 1.15rem;
          line-height: 1.5;
        }
      }

      .contact {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding-left: 1.5rem;

        @media screen and (max-width: $max-width-breakpoint) {
          align-items: center;
          flex-basis: 100%;
          padding-left: 0;
        }

        .field {
          display: flex;
          margin-bottom: 1rem;
          flex-direction: column;

          @media screen and (max-width: $max-width-breakpoint) {
            width: 100%;
          }

          label {
            margin-bottom: 0.25rem;
            font-size: 1.2rem;
            color: white;
          }

          input {
            font-family: $assistant;
            padding: 0.6rem 0.8rem;
            font-size: 1rem;
            border: none;
            border-radius: 4px;
          }

          textarea {
            font-family: $assistant;
            padding: 0.6rem 0.8rem;
            font-size: 1rem;
            resize: none;
            border: none;
            border-radius: 4px;
          }
        }

        .codesai-button {
          margin-top: 0.5rem;
          max-width: 280px;

          @media screen and (max-width: $max-width-breakpoint) {
            width: 100%;
          }
        }
      }
    }
  }
}

