
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h2.section-title {
    font-family: $lekton;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0.5rem 0;

    @media screen and (max-width: $max-width-breakpoint) {
      text-align: center;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    max-width: $max-page-width;
    margin-bottom: 3rem;

    .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1rem;

      @media screen and (max-width: $max-width-breakpoint) {
        flex-direction: column;
      }

      .text {
        padding: 3rem 2rem 2rem 0;

        @media screen and (max-width: $max-width-breakpoint) {
          order: 2;
          padding: 2rem 0;
        }

        p {
          margin-top: 0;
          font-size: 1.1rem;
          line-height: 1.6;
        }
      }

      .image {
        padding: 3rem 0 0 0;

        @media screen and (max-width: $max-width-breakpoint) {
          display: flex;
          justify-content: center;
          order: 1;
        }

        img {
          max-width: 320px;
          margin-top: -41px;

          @media screen and (max-width: $max-width-breakpoint) {
            max-width: 280px;
            max-height: 386px;
          }
        }
      }
    }


  }

}

