.post {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 64px auto;
  line-height: 2rem;
  font-size: pxToRem(19);

  @media screen and (max-width: $max-width-breakpoint) {
    padding: 0 24px;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    margin: 42px auto;
    padding: 0 12px;
    font-size: pxToRem(16);
    line-height: 1.8rem;
  }

  h1 {
    margin: 0 0 24px 0;
    font-family: $lekton;
    font-size: pxToRem(42);
    font-weight: bold;
    line-height: 3rem;

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: pxToRem(28);
    }
  }

  h2 {
    margin: 16px 0 20px 0;
    font-family: $lekton;
    font-size: pxToRem(28);
    font-weight: bold;
  }

  h3 {
    font-size: pxToRem(28);
    font-weight: 300;
    margin: 0.5rem 0;
  }

  p {
    margin: 0 0 1.25rem 0;
  }

  li p {
    margin: 0 0 0.5rem 0;
  }

  a {
    color: $blueish-green;
  }

  img {
    width: 100%;
    padding: 1rem;
    vertical-align: middle;
  }

  figure {
    margin: 0;
  }

  ul {
    list-style: initial;
    padding-left: 20px;
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  figcaption {
    font-size: 11px;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
  }

  .post-info {
    p {
      text-align: justify;
      font-style: italic;
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 10px;
    }

    em {
      font-weight: bold;
    }
  }

  .post-categories {
    p {
      text-align: justify;
      font-size: pxToRem(16);
      line-height: 28px;
      margin: 0 0 10px;
    }
  }

  .foot-note {
    padding-bottom: 5px;
    font-size: 80%;
  }

  .back-to-blog {
    padding: 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;

    a {
      padding: 8px 20px;
      border-bottom: 1px solid #428bca;
      text-decoration: none;
    }
  }

  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
  }
}