.training {
  display: flex;
  flex-direction: column;
  align-items: center;

  .introduction {
    display: flex;
    flex-direction: row;
    margin: 4rem;
    max-width: $max-page-width;

    @media screen and (max-width: $max-width-breakpoint) {
      flex-direction: column-reverse;
    }

    h1 {
      font-family: $lekton;
      margin: 0;
      font-size: 3rem;
      font-weight: lighter;
    }
  }

  .courses {
    display: flex;
    flex-direction: column;
    max-width: $max-page-width;
    margin: 0 0 3rem;

    @media screen and (max-width: $max-width-breakpoint) {
      padding: 0 2rem;
    }

    .course {
      display: flex;
      flex-direction: row;
      padding-bottom: 3rem;
      background: url(/assets/icons/back-line.svg) repeat-y 75px top;
      @media screen and (max-width: $max-width-breakpoint) {
        flex-direction: column;
        background: url(/assets/icons/back-line-h.svg) repeat-x left 75px;
        align-items: center;
      }
      .image {
        span {
          width: 151px;
          height: 151px;
          background: url(/assets/shapes/hexaback.svg) no-repeat center center;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 60%;
            height: auto;
          }
        }
      }
      .description {
        margin-bottom: 3rem;
        margin-left: 2rem;
        font-weight: 400;
        @media screen and (max-width: $max-width-breakpoint) {
          margin: 0;
        }
        h2 {
          font-family: $lekton;
          font-size: 3rem;
          letter-spacing: 0.1em;
          margin: 0;
        }

        .info {
          h3 {
            background-color: $blueish-green;
            font-family: $lekton;
            display: inline-block;
            color: white;
            margin: 0;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 1rem;
            img {
              vertical-align: bottom;
            }
          }
          > div {
            display: flex;
            flex-direction: row;
            font-family: $assistant;
            background-color: #EDF7F5;
            padding: 1.5rem 2.5rem;
            border-radius: 0 16px 16px 16px;
            @media screen and (max-width: $max-width-breakpoint) {
              flex-direction: column;
              padding: 1rem;
            }
            .schedule, .pricing {
              display: flex;
              flex-direction: row;
              @media screen and (max-width: $max-width-breakpoint) {
                margin: 1rem 0;
              }
              img {
                width: 38px;
                height: 42px;
                margin-right: 0.8rem;
              }
              .text {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin-left: 0.5rem;
                margin-right: 1.5rem;
                p {
                  margin: 0;
                }
              }
            }
          }
        }
      }

      .codesai-button {
        margin-top: 2rem;
        @media screen and (max-width: $max-width-breakpoint) {
          align-self: center;
        }
      }
    }

    .closing-hexagon {
      display: flex;
      flex-direction: row;
      background: url(/assets/icons/back-line.svg) repeat-y 75px top;
      @media screen and (max-width: $max-width-breakpoint) {
        flex-direction: column;
        background: url(/assets/icons/back-line.svg) repeat-y center top;
        align-items: center;
      }
      span {
        width: 32px;
        height: 32px;
        background: url(/assets/shapes/small-hexaback.svg) no-repeat center center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3.7rem;
        @media screen and (max-width: $max-width-breakpoint) {
          margin-left: 0;
          margin-top: 4rem
        }
      }
    }
  }
}
