<div id="antevenio">
    <div class="short-description">
        <p>Antevenio es una multinacional especializada en performance y brand marketing. Cuenta con oficinas en Madrid, Barcelona, Milán, París, Buenos Aires y México D.F.</p>
    </div>

    <div class="more-info">
        <p>Trabajamos mano a mano en su plataforma MDirector, implementando un editor WYSIWYG de plantillas para email marketing. Ellos trabajaban en el backend PHP y nosotros hicimos la aplicación del editor completamente en front-end. Ha sido un placer trabajar con ellos por su amabilidad, respeto y profesionalidad.</p>

        <p>Tecnologías: Vanilla JavaScript</p>
    </div>

    {% include clients/read-more.html client-id="antevenio" %}

</div>
