<div id="buyviu">
    <div class="short-description">
        <p>Buyviu es un marketplace que publica productos de diferentes redes de afiliación y redirige tráfico a sus afiliados a cambio de comisiones por las ventas de productos. Actualmente cuenta con versiones en España y Reino Unido con más de 1 millón de productos en cada país y la plataforma se encuentra preparada para su expansión a nuevos países. El valor añadido de BuyViu es la capacidad de generar automáticamente vídeos de presentación para productos con sus marcas y categorías, lo que mejora la capacidad de captación de tráfico frente a otros marketplaces existentes.</p>
    </div>

    <div class="more-info">
        <p>Codesai aporta 3 miembros al equipo técnico de Buyviu que está formado actualmente por 10 personas. Estamos liderando técnicamente el proyecto asumiendo todas las tareas propias de un CTO: selección de las tecnologías y arquitecturas más adecuadas, definición de las estrategias de incorporación de nuevo talento o gestión de la comunicación entre el equipo técnico y los distintos stakeholders del proyecto.</p>
        <p>En Codesai creemos que la mejor forma de liderar un proyecto es mediante el ejemplo, por lo que no sólo asumimos el liderazgo técnico del proyecto, sino que también trabajamos a diario con el equipo para crear una cultura de trabajo donde se fomentan prácticas como el pair programming, TDD o integración continua.</p>

        <p>La arquitectura de la plataforma consiste en un conjunto de microservicios utilizando diferentes plataformas/lenguajes:</p>
        <ul>
        <li>Lenguajes de programación: Python, JavaScript, Kotlin.</li>
        <li>Librerias/frameworks: Django, Flask, Node.js, React.js, Spring-Boot.</li>
        <li>Persistencia: PostgreSQL (Amazon RDS), Elastic Search (Amazon AES), S3, Redis.</li>
        <li>Orquestación de servicios: Docker, ECS, CloudFormation, Ansible.</li>
        <li>Monitorización de servicios: Prometheus, Kibana, Grafana, Lambda, CloudWatch</li>
        </ul>
    </div>

    {% include clients/read-more.html client-id="buyviu" %}

</div>
