<div id="domingo-alonso">
    <div class="description">
        <p>Aplicaciones Informáticas Domingo Alonso (AIDA) es una empresa del Grupo Domingo Alonso que se encarga de desarrollar y mantener software para gestionar la importación, reparación y venta de vehículos. Este software está siendo usado, no sólo por las empresas del grupo, sino por otras empresas del sector de la automoción en diferentes partes del mundo.</p>
    </div>

    <div class="more-info">
        <p>Hemos ayudado a AIDA a cambiar su cultura. Mediante un acompañamiento, que empezó hace más de dos años, y que ha conseguido mejorar tanto sus procesos, adoptando metodologías ágiles y mejorando el análisis de producto, como sus prácticas técnicas, mentorizando a su equipo en prácticas técnicas de XP como TDD, pair programing, integración/deploy continuo o refactoring, y en principios de diseño orientado a objetos como DDD o arquitectura hexagonal, a la vez que generábamos nuevas funcionalidades.</p>

        <p>La transformación ágil que continuamos catalizando en AIDA está dando resultados muy positivos. Su equipo ha crecido mucho profesionalmente, interiorizando muchas prácticas y, por encima de todo, generando una cultura de "mejora continua".</p>

        <p>Tecnologías: .Net, C#, Ecmascript 6, SQLServer, PowerShell, Rabbitmq,  Signalr,  WPF</p>
    </div>
</div>

<script>
    $('#domingo-alonso').on('click', function(event) {
        var moreInfo = $(event.currentTarget).children().filter('.more-info');
        moreInfo.toggle();
    });
</script>