<div id="grupo-asv">
    <div class="short-description">
        <p>El Grupo ASV consta de un conjunto de empresas de servicios con una amplia trayectoria, principalmente, vinculada a los negocios de transporte sanitario, seguros y servicios funerarios, con presencia en varias provincias de España.</p>
    </div>

    <div class="more-info">
        <p>Una pareja de Codesai especializada en backend y frontend estuvo empotrada a tiempo completo y de forma semi-presencial en un equipo de 14 personas usando Scrum. Trabajamos en la mejora del sistema de gestión de ambulancias del Grupo ASV.</p>

        <p>Se trataba de un proyecto con una exigencia de calidad muy alta, en el que la alineación del equipo y el uso de buenas prácticas técnicas era fundamental. Nuestra labor, consistió en aportar tanto nuestro conocimiento tecnológico, como nuestra experiencia en el desarrollo de productos con metodologías y prácticas de XP.</p>

        <p>Tecnologías: Angular 1.5, Node.js, Loopback, Docker, Oracle</p>
    </div>

    {% include clients/read-more.html client-id="grupo-asv" %}

</div>
