<div id="lifull-connect">
    <div class="short-description">
        <p>Lifull Connect es uno de los mayores agregadores a nivel mundial en los sectores de empleo, coches y moda, y el mayor en el sector inmobiliario.</p>
    </div>

    <div class="more-info">
        <p>
            Estamos ayudando a varios equipos de Lifull Connect a cambiar su cultura y mejorar su eficiencia, tanto trabajando con código legado como en proyectos nuevos,mediante un acompañamiento intensivo, un programa de práctica deliberada y formaciones específicas (TDD, code smells, refactoring, trabajo con código legado, ...).
        <p>
        Llevamos más de un año ayudando a varios equipos de Lifull, y ahora estamos empezando a trabajar con un par de equipos más.
    </p>
        <p>
            Nuestra relación con Lifull Connect está siendo una simbiosis muy enriquecedora.
        </p>
        <ul>
        <li>Lenguajes de programación: PHP, Java, Kotlin, Scala, JavaScript.</li>
        <li>Librerias/frameworks: Symfony, reffects, Play.</li>
        <li>Persistencia: MySQL, Solr, S3, Spark, Redis.</li>
        </ul>
    </div>

    {% include clients/read-more.html client-id="lifull-connect" %}

</div>
