<div id="mutua">
    <div class="short-description">
        <p>
            Mutua Tinerfeña es una aseguradora con más de 85 años de experiencia en el sector de los seguros. Actualmente es la única aseguradora canaria que opera en el archipiélago. Cuenta con software propio para gestionar los múltiples productos que oferta, además de integraciones con diferentes sistemas en el mercado. El conocimiento que se necesita para operar en este sector es elevado y complejo.
        </p>
    </div>

    <div class="more-info">
        <p>
            Estamos ayudando a Mutua Tinerfeña a cambiar su cultura mediante un acompañamiento de baja intensidad pero continuo y con formaciones (TDD, historias de usuario, Impact Mapping..). Se ha conseguido mejorar tanto sus procesos, adoptando metodologías ágiles y mejorando el análisis de producto, como sus prácticas técnicas, mentorizando a su equipo en prácticas técnicas de XP como TDD, pair programming, integración/deploy continuo o refactoring.
        </p>
        <p>
            La transformación que se está produciendo en Mutua Tinerfeña está teniendo resultados muy positivos. A la vez se está consiguiendo minimizar lo mś posible el coste y caos que podría generar el cambio de paradigma. Su equipo está creciendo poco a poco profesionalmente, interiorizando las prácticas técnicas y, por encima de todo, generando una cultura de "mejora continua".
        </p>

        <p>Tecnologías: Java, PLSQL, Scala, Kafka, JSF, Oracle Forms</p>
    </div>

    {% include clients/read-more.html client-id="mutua" %}

</div>
