<div class="read-more">
    <a class="indicator">Nuestra aportación</a>
</div>

<script>
    $('#{{ include.client-id }} .read-more .indicator').on('click', function(event) {        
        var moreInfo = $('#{{ include.client-id }} .more-info');
        var indicator = $('#{{ include.client-id }} .read-more .indicator');

        moreInfo.slideToggle('slow', function() {
            if(indicator.text() == 'Nuestra aportación') {
                indicator.text('Ocultar');
            } else {
                indicator.text('Nuestra aportación');
            }
        });
    });
</script>