<div id="salud-on-net">
    <div class="short-description">
        <p>SaludOnNet es una empresa que lleva más de 12 años aportando innovación al sector de la salud en España. Han desarrollado la única plataforma tecnológica eHealth 360º, implantada en más de 22.000 clínicas y hospitales y utilizada por más de 200.000 pacientes. Pioneros en la gestión online de salud, liderando la transformación digital de la salud en España, recibiendo múltiples reconocimientos por su labor transformadora (Unión Europea Gartner Group, Expansión, eHealth Week Competition,...).</p>
    </div>

    <div class="more-info">
        <p>Nuestro rol dentro de SaludOnNet fue el de formadores y mentores para que el equipo técnico adoptáse eXtreme Programming. Estuvimos trabajando en todos los productos y en el cambio cultural de manera integrada en el equipo. Asimismo hicimos tanto consultoría a nivel de análisis de requisitos como desarrollo a medida y desarrollo empotrados en el propio equipo. También ayudamos en la selección de nuevos candidatos participando en las entrevistas. </p>

        <p>Después de dos años de trabajo con el equipo, XP se convirtió en la forma natural de desarrollar. El equipo alcanzó una madurez extraordinaria, donde la calidad es siempre lo primero. Crecimos muchísimo durante este proceso y estamos muy agradecidos por la confianza y la oportunidad que nos brindaron y por el cariño con el que nos acogieron en todo momento. Ha sido una de nuestras mejores experiencias profesionales, una transformación que vivimos de principio a fin.</p>

        <p>Tecnologías: C#, Javascript, Sql Server, RabbitMq, Mule ESB</p>
    </div>

    {% include clients/read-more.html client-id="salud-on-net" %}

</div>
