<div id="themotion">
    <div class="description">
        <p>The Motion es una startup que trata de revolucionar la industria del video-advertising, construyendo una plataforma abierta para ayudar a sus clientes a crear video-ads únicos a partir de cualquier dato de producto, para hacer crecer sus negocios de forma rápida y sencilla.  </p>
    </div>

    <div class="more-info">
        <p>The Motion cuenta con un equipo técnico relativamente pequeño (7-10 personas), al que ayudamos mediante sesiones de pair programming a poner en práctica TDD y a mejorar sus conocimientos sobre diseño orientado a objetos.</p>

        <p>El resultado fue bastante positivo. Quedaron bastante satisfechos porque les resolvimos muchas dudas sobre cómo aplicar TDD en su día a día y sobre testing en general.</p>

        <p>Tecnologías: Python</p>
    </div>
</div>

<script>
    $('#themotion').on('click', function(event) {
        var moreInfo = $(event.currentTarget).children().filter('.more-info');
        moreInfo.toggle();
    });
</script>