<section id="call-to-action" class="call-to-action-wrapper">
    <div class="call-to-action">
        <div class="message">
            <div class="highlight">{{ include.title }}</div>
            {{ include.text }}
        </div>
        <div class="contact">
            <div class="field">
                <label for="email">* {% translate components.call_to_action.mail %}</label>
                <input type="email" id="email" name="entry.579934409" required />
            </div>

            <div class="field">
                <label for="name">{% translate components.call_to_action.name %}</label>
                <input id="name" name="entry.1588628238" type="text" required />
            </div>

            <div class="field">
                <label for="subject">{% translate components.call_to_action.message %}</label>
                <textarea id="subject"
                          name="entry.2072593880"
                          rows="4"
                          placeholder="{{ include.messagePlaceHolder }}"></textarea>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" id="privacy-agreement" checked="checked">
                    <div class="box">
                        <i class="ion-checkmark"></i>
                    </div>
                    <div>{% translate components.call_to_action.privacy_agreement %}</div>
                </label>
            </div>

            <div id="submit-contact-form" class="codesai-button" class="codesai-button">
                <div class="content">{% translate components.call_to_action.send %}</div>
                <img class="arrow" src="/assets/icons/arrow.svg" alt="">
            </div>
        </div>
    </div>
</section>

<script>

    const submitContactFormButton = document.getElementById("submit-contact-form");
    if (submitContactFormButton) {
        submitContactFormButton.addEventListener('keyup', (event) => {
            if (event.key === "Enter") {
                event.preventDefault();
                submitContactFormButton.click();
            }
        });
        submitContactFormButton.addEventListener('click', submitContactForm);
    }

    function submitContactForm() {
        const email = document.getElementById('email').value.trim();
        const name = document.getElementById('name').value || 'noname';
        const subject = document.getElementById('subject').value || '{{ include.defaultMessage }}';
        const privacyAgreement = document.getElementById('privacy-agreement').checked;
        const origin = '{{ include.origin }}';

        if (!email || !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
            alert("{% translate components.call_to_action.alerts.no_email %}");
            return;
        }

        if (!privacyAgreement) {
            alert("{% translate components.call_to_action.alerts.no_privacy_agreement %}");
            return;
        }

        fetch(`https://docs.google.com/forms/u/0/d/e/1FAIpQLSfsR_MlKnk_ZdClyNbtA0g6c75XYCN_7yxNcZyuxvJ29KCRdw/formResponse?entry.579934409=${email}&entry.1588628238=${name}&entry.2072593880=${subject}&entry.1529347029=${origin}`, {
            method: 'POST',
            mode: 'no-cors'
        }).then(_ => {
            alert("{% translate components.call_to_action.alerts.received %}")
        })
        .catch(errorMessage => {
            alert("{% translate components.call_to_action.alerts.error %}" + errorMessage)
        });
    }
</script>