<div class="client">
    <div class="image">
        <span>
            <img src="{{ include.logo }}" alt="{{ include.name}} logo">
        </span>
    </div>
    <div class="info">
        <h2>{{ include.name }}</h2>
        <h3>La empresa//</h3>
        <p>{{ include.about }}</p>
        <h3>Nuestra aportación//</h3>
        <p>{{ include.work }}</p>
        <div class="tech">
            <h3>Tecnologías empleadas</h3>
            <div class="stack">
                {{ include.stack }}
            </div>
        </div>
    </div>
</div>