<div class="course">
    <div class="image">
        <span>
            <img src="{{ include.logo }}" alt="{{ include.name }} course">
        </span>
    </div>
    <div class="description">
        <h2>{{ include.name }}</h2>
        <p>{{ include.description }}</p>
        <div class="info">
            <h3>
                <img src="/assets/icons/teaching.svg" alt="teaching info">
                {% translate components.course.information %}
            </h3>
            <div>
                <div class="schedule">
                    <img src="/assets/icons/clock-green.svg" alt="Clock">

                    <div class="text">
                        <p><strong>{{ include.hours }} {% translate components.course.hours %}</strong></p>
                        <p>{% translate components.course.modality %}</p>
                    </div>
                </div>
                <div class="pricing">
                    <img src="/assets/icons/euro-green.svg" alt="Euro">
                    <div class="text">
                        <p><strong>{{ include.starting_price }} {% translate components.course.price_ratio %}</strong></p>
                        <p>{% translate components.course.iva_excluded %}</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ include.link }}">
            {% capture button %}{{ site.translations[site.lang].components.course.button }}{% endcapture %}
            {% include components/codesai-button.html content=button %}
        </a>
    </div>
</div>