<div class="team-card">
    <div class="member_img">
        <img src="{{ include.photo }}" alt="{{ include.name }}">
    </div>
    <div class="member_info">
        <h4>{{ include.name }}</h4>
        <p>{{ include.bio }}</p>
    </div>
    <ul class="social">
        {% if include.twitter_handle %}
            <li><a href="https://twitter.com/{{ include.twitter_handle }}/" target="_blank"><img src="/assets/icons/icon_media_tw_green.svg" alt="twitter link"></a></li>
        {% endif %}
        {% if include.linkedin_profile %}
            <li><a href="{{ include.linkedin_profile }}" target="_blank"><img src="/assets/icons/icon_media_linkedin_green.svg" alt="linkedin link"></a></li>
        {% endif %}
        {% if include.github_user %}
            <li><a href="https://github.com/{{ include.github_user }}/" target="_blank"><img src="/assets/icons/icon_media_git_green.svg" alt="github link"></a></li>
        {% endif %}
    </ul>
</div>
