<div class="team-card">
    <div class="details">
        <div class="photo">
            <img src="{{ include.photo }}" alt="">
        </div>
        <div class="name">{{ include.name }}</div>
    </div>
    <div class="bio">
        <div class="text">
            {{ include.bio }}
        </div>
        <div class="social-links">
            <div class="icons">
                {% if include.twitter_handle %}
                    <a href="https://twitter.com/{{ include.twitter_handle }}/" target="_blank"><img src="/assets/icons/twitter.svg" alt="twitter link"></a>
                {% endif %}
                {% if include.linkedin_profile %}
                    <a href="{{ include.linkedin_profile }}" target="_blank"><img src="/assets/icons/linkedin.svg" alt="linkedin link"></a>
                {% endif %}
                {% if include.github_user %}
                    <a href="https://github.com/{{ include.github_user }}/" target="_blank"><img src="/assets/icons/github.svg" alt="github link"></a>
                {% endif %}
            </div>
            <img src="/assets/shapes/team-card-bottom-polygon.svg" alt="">
        </div>
    </div>
</div>
