<div class="team-card">
    <div class="details">
        <div class="photo">
            <img src="{{ include.photo }}" alt="">
        </div>
        <div class="name">{{ include.name }}</div>
    </div>
    <div class="bio">
        <div class="text">
            {{ include.bio }}
        </div>
        <div class="social-links">
            <div class="icons">
                <a href="#"><img src="/assets/icons/twitter.svg" alt="twitter link"></a>
                <a href="#"><img src="/assets/icons/linkedin.svg" alt="linkedin link"></a>
                <a href="#"><img src="/assets/icons/github.svg" alt="github link"></a>
            </div>
            <img src="/assets/icons/team-card-bottom-polygon.svg" alt="">
        </div>
    </div>
</div>