---
layout: page
---
<div class="post">
    <div class="container">
        <div class="row">
            <div class="content">
                <h1>{{ page.title }}</h1>
                <div class="post-categories">
                  <p>
                      <span class="bold">{% translate blog.categories %}: </span>
                      {% for category in page.categories %}
                        <a href="{{site.baseurl}}/blog/categories/#{{category|slugize}}">{{category}}</a>
                      {% endfor %}
                  </p>
                </div>
                <div class="post-info-wrapper">
                    <p class="italic">Publicado por <span class="bold">{{ page.author }}</span> el <span class="bold">{{ page.date | date: "%d/%m/%Y" }}</span></p>
                </div>
                <hr/>

                {{ content }}

                {% if page.cross_post_url %}
                    <p>
                       {% if page.written_in == 'english' %} 
                            Originally published in <a href="{{ page.cross_post_url }}">{{ page.author }}'s blog</a>.
                       {% else %}
                            Publicado originalmente en <a href="{{ page.cross_post_url }}">el blog de {{ page.author }}</a>.
                       {% endif %}
                    </p>
                {% endif %}

                <div class="back-to-blog">
                    <a href="/blog">Volver al blog</a>
                </div>

                {% if site.environment == 'production' %}
                    <div id="disqus_thread"></div>

                    <script>
                        var disqus_config = function () {
                            this.page.url = '{{ site.url | append: page.url }}';
                            this.page.identifier =  {% if page.meta.dsq_thread_id %}
                                                        '{{ page.meta.dsq_thread_id }}'
                                                    {% else %}
                                                        '{{ page.title }}'
                                                    {% endif %};
                        };

                        (function() {  // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = '//codesai.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>

                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                {% endif %}
            </div>
        </div>
    </div>
</div>
