---
---
{% include head.html translate_title=true %}

<body>

{% include header.html %}
<main class="post">
    <h1>{{ page.title }}</h1>
    <div class="post-info">
        {% if page.written_in == 'english' %}
            <p>Published by <a href="https://www.twitter.com/{{ page.twitter }}"><em>{{ page.author }}</em></a> on <em>{{ page.date | date: "%d/%m/%Y" }}</em></p>
        {% else %}
            <p>Publicado por <a href="https://www.twitter.com/{{ page.twitter }}"><em>{{ page.author }}</em></a> el <em>{{ page.date | date: "%d/%m/%Y" }}</em></p>
        {% endif %}
    </div>
    <div class="post-categories">
      <p>
          {% for category in page.categories %}
            {% if forloop.last == true %}
                <a href="{{site.baseurl}}/publications/categories/#{{category|slugize}}">{{category}}</a>
            {% else %}
                <a href="{{site.baseurl}}/publications/categories/#{{category|slugize}}">{{category}}</a>,
            {% endif %}
          {% endfor %}
      </p>
    </div>
    <hr/>

    {{ content }}

    {% if page.cross_post_url %}
        <p>
           {% if page.written_in == 'english' %}
                Originally published in <a href="{{ page.cross_post_url }}">
                {% if page.published_in_blog %}
                    {{ page.published_in_blog }}'s blog</a>.
                {% else %}
                    {{ page.author }}'s blog</a>.
                {% endif %}
           {% else %}
                Publicado originalmente en <a href="{{ page.cross_post_url }}">el blog de
                {% if page.published_in_blog %}
                    {{ page.published_in_blog }}.
                {% else %}
                     {{ page.author }}</a>.
                {% endif %}
           {% endif %}
        </p>
    {% endif %}

    <div class="back-to-blog">
        <a href="/publications#posts">Volver a posts</a>
    </div>

    {% if site.environment == 'production' %}
        <div id="disqus_thread"></div>

        <script>
            var disqus_config = function () {
                this.page.url = '{{ site.url | append: page.url }}';
                this.page.identifier =  {% if page.meta.dsq_thread_id %}
                                            '{{ page.meta.dsq_thread_id }}'
                                        {% else %}
                                            '{{ page.title }}'
                                        {% endif %};
            };

            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//codesai.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>

        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
</main>
{% include footer.html %}
<script>
    document.querySelectorAll('.youtube-player > div').forEach(e => {
        e.addEventListener('click', () => {
            const iframe = document.createElement("iframe");
            const embed = "https://www.youtube.com/embed/ID?autoplay=1";
            iframe.setAttribute("src", embed.replace("ID", e.dataset.id));
            iframe.setAttribute("frameborder", "0");
            iframe.setAttribute("allowfullscreen", "1");
            e.parentNode.replaceChild(iframe, e);
        })
    });
</script>
</body>
</html>
